/* ----------------------------------------------------- *
 * Superglobal classes
 * ----------------------------------------------------- */
.spritesheet {
  display: none;
}

.text-center {
  text-align: center;
}

.rounded {
  border-radius: 4px;
}

.shadowed {
  box-shadow: 0 2px 4px var(--color-default-shadow);
}

.secondary-text {
  color: var(--color-secondary-foreground);
}

.responsive {
  max-width: 100%;
  height: auto;
}
