@import 'variables';

$single-column-breakpoint: 450px;

.ghost-thumbnail {
  position: relative;
  padding: 4px;
  background-color: var(--color-container-background);
  border-radius: var(--border-radius-default);
  box-shadow: 0 2px 4px var(--color-default-shadow);

  .load-effect {
    position: absolute;
    top: var(--thumbnail-image-padding);
    right: var(--thumbnail-image-padding);
    bottom: var(--thumbnail-image-padding);
    left: var(--thumbnail-image-padding);
    border-radius: calc(var(--border-radius-default) / 2);
  }

  svg {
    display: block;
    width: 100%;
    fill: transparent;
  }
}

.gallery-container jblog-thumbnail,
.loading-area .ghost-thumbnail {
  grid-column: span 3;
}

@media screen and (max-width: $single-column-breakpoint) {
  .gallery-container jblog-thumbnail,
  .loading-area .ghost-thumbnail {
    grid-column: span 12;
  }
}

@media screen and (min-width: $single-column-breakpoint + 1) and (max-width: $breakpoint-md) {
  .gallery-container jblog-thumbnail,
  .loading-area .ghost-thumbnail {
    grid-column: span 6;
  }
}

@media screen and (min-width: $breakpoint-md + 1) and (max-width: $breakpoint-lg) {
  .gallery-container jblog-thumbnail,
  .loading-area .ghost-thumbnail {
    grid-column: span 4;
  }
}
