@import 'palette';
@import 'variables';

#page-title-box {
  background: $default-linear-gradient;
  color: $color-palette4;
  line-height: 1;
  margin-bottom: $hero-bottom-margin;
  padding-top: 30px;
  padding-bottom: 20px;

  &.has-parallax {
    position: relative;
    z-index: 0;
  }

  h1 {
    font-size: 72px;
    font-weight: normal;
    line-height: 1;
    margin: 5px 0 -40px 0;
    padding: 0;
    pointer-events: none;
  }

  .inner-box {
    display: inline-block;
    margin-top: 50px;
    min-width: 270px;
    position: relative;
    padding-right: $generic-horizontal-padding;

    .visual {
      border-radius: $default-radius 0;
      background-color: transparentize($color-palette2, 0.25);
      pointer-events: none;
      position: absolute;
      left: -$generic-horizontal-padding;
      right: 0;
      top: -10px;
      bottom: -10px;
      z-index: -1;
    }
  }

  .breadcrumb {
    font-size: 14px;

    a {
      color: inherit;
    }
  }

  .summary-area {
    margin: 20px 0 0;
  }
}
