:host {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: var(--color-progressbar-track);

  &.filled {
    background-color: var(--color-progressbar-active);
  }
}
