<article *ngFor="let project of projects">
  <div class="grid">
    <div class="text-area">
      <h2>{{ project.title }}</h2>
      <div class="info">
        <i class="far fa-code" aria-hidden="true"></i> {{ project.info }}
      </div>
      <p *ngFor="let para of (project.summary | lineSplitting)">{{ para }}</p>
      <div class="button-container">
        <a
          *ngIf="project.link.length > 0"
          href="{{ project.link }}"
          id="project-link"
        >
          <i class="far fa-rocket"></i> Go to project page
        </a>
        <a
          *ngIf="project.link.length === 0"
          [routerLink]="['/code/project', project.name]"
          id="project-link"
        >
          <i class="far fa-rocket"></i> Go to project page
        </a>
      </div>
    </div>
    <div class="image-area">
      <img
        src="{{ project.resourcesUrl }}folder.jpg"
        alt="project image"
        class="rounded"
      />
    </div>
  </div>
</article>
