# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Node (for front-end)
/node_modules
npm-debug.log
yarn-error.log

# PHP (for APIs)
composer.phar

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Framework caches
.nx/cache
.nx/workspace-data
.angular

# Miscellaneous
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# System files
.DS_Store
Thumbs.db

# Project-specific
/libs/api/src/conf/*.sqlite
/libs/api/src/conf/settings.php
/libs/api/src/vendor

# Potential secrets
*.key
*.key.pub

# Third-party assets
/src/assets/thirdparty
