{
  "extends": "stylelint-config-standard",
  "rules": {
    "max-empty-lines": 1,
    "string-quotes": "single",
    "color-hex-length": "long",
    "color-hex-case": "upper",
    "declaration-colon-newline-after": "always-multi-line",
    "max-nesting-depth": 2,
    "selector-type-no-unknown": [ true, {
      "ignoreTypes": ["/^jblog-/", "\\:host"]
    } ]
  }
}
