{
  "extends": "stylelint-config-standard",
  "rules": {
    "no-missing-end-of-source-newline": null,
    "max-empty-lines": 1,
    "string-quotes": "single",
    "color-hex-length": "long",
    "color-hex-case": "upper",
    "declaration-colon-newline-after": null,
    "font-family-name-quotes": null,
    "number-leading-zero": "always",
    "max-nesting-depth": 3,
    "selector-type-no-unknown": [ true, {
      "ignoreTypes": ["/^jblog-/", "/deep/"]
    } ],
    "selector-pseudo-element-no-unknown": [ true, {
      "ignorePseudoElements": ["ng-deep"],
    } ],
    "at-rule-no-unknown": [ true, {
      "ignoreAtRules": ["mixin", "include", "if", "for"]
    }]
  }
}
