.gratituous-image {
  line-height: 1;
  margin-top: 20px;
  margin-bottom: -2px;
}

article {
  padding-top: 48px;
  padding-bottom: 48px;
  border: 1px solid var(--color-container-border);
  background-color: var(--color-container-background);
  border-radius: var(--border-radius-default);
}

.content-area {
  grid-column: 2 / span 10;
}
