<div class="container">
  <div class="gratituous-image align-center">
    <img src="/assets/images/404-large.svg" alt="404 image">
  </div>
  <article class="basic-card rounded light-shadow horizontal-feature">
    <h2>Feeling lost? Don’t worry</h2>
    <p>
      A “404” error appears if there is a broken link or we’ve moved a page.
    </p>
    <p>
      We all get lost, once in a while. Here’s some directions back to known
      locations, like you'd find on street signs in the real world.
    </p>
    <ul class="site-map">
      <li><a class="uncoverable" routerLink="/"><i class="far fa-fw fa-home"></i>Portfolio home</a></li>
      <li><a class="uncoverable" routerLink="/about/"><i class="far fa-fw fa-male"></i>About me</a></li>
      <li><a class="uncoverable" routerLink="/art/"><i class="far fa-fw fa-images"></i>Art gallery</a></li>
      <li><a class="uncoverable" routerLink="/projects/"><i class="far fa-fw fa-rocket"></i>Projects</a></li>
      <li><a class="uncoverable" routerLink="/journal/"><i class="far fa-fw fa-pencil"></i>Journal</a></li>
    </ul>
  </article>
</div>
