<section class="panel">
  <div class="row">
    <div class="col-sm-6">
      <h1>404</h1>
      <article class="content-area">
        <p>
          We looked, but there's nothing here.
        </p>
        <p>
          The page you’re looking for doesn’t exist, may never have existed and
          might not even exist in the future. There’s a whole lot of
          <em>not existing</em>
          going on, right in front of your very eyes&mdash;isn’t that great?
        </p>
        <p>
          Realistically speaking, though, you’ll probably want to follow one of
          the following links to get you back to somewhere more useful. Let’s
          get you back on the right track.
        </p>
      </article>
      <div class="site-map">
        <a routerLink="/"><i class="fa fa-fw fa-home"></i>Portfolio home</a>
        <a routerLink="/about/"><i class="fa fa-fw fa-male"></i>About me</a>
        <a routerLink="/art/"><i class="fa fa-fw fa-picture-o"></i>Art gallery</a>
        <a routerLink="/code/"><i class="fa fa-fw fa-rocket"></i>Code projects</a>
        <a routerLink="/journal/"><i class="fa fa-fw fa-pencil"></i>Journal</a>
      </div>
    </div>
    <div class="col-sm-6">
      image!
    </div>
  </div>
</section>
