.gratituous-image {
  line-height: 1;
  margin-top: 20px;
  margin-bottom: -2px;
}

article {
  padding-top: 48px;
  padding-bottom: 48px;
}

#site-map {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  list-style-position: inside;
  margin: 0;
  padding: 0;
}
