.controls {
  font-size: 14px;
  margin-bottom: 20px;
}

img.responsive {
  max-width: 100%;
}

.presenter {
  margin-top: 10px;
  padding: 10px;
  text-align: center;

  &.zoomed-in {
    overflow: auto;
    padding-left: 0;
    padding-right: 0;

    img {
      cursor: zoom-out;
    }
  }

  &.zoomed-out {
    img {
      cursor: zoom-in;
    }
  }
}

.picture-area {
  position: relative;
  display: inline-block;

  img {
    border-radius: var(--border-radius-default);
    box-shadow: var(--box-shadow-default) var(--color-default-shadow);
  }

  .featured {
    $badge-width: 48px;

    background-color: var(--color-primary-a-08);
    color: var(--color-primary-a-08);
    font-size: 32px;
    text-shadow: 0 -1px var(--color-primary-a-10), 0 1px var(--color-primary-a-06);
    text-align: center;
    width: $badge-width;
    position: absolute;
    right: 32px;
    top: -10px;

    &::before {
      display: block;
      content: '';
      border-color: transparent;
      border-style: solid;
      border-width: 5px 2px;
      border-right-color: var(--color-primary-a-10);
      border-bottom-color: var(--color-primary-a-10);
      position: absolute;
      left: -4px;
      top: 0;
    }

    &::after {
      $frill-size: $badge-width / 2;

      display: block;
      content: '';
      border: $frill-size solid transparent;
      border-left-color: var(--color-primary-a-08);
      border-right-color: var(--color-primary-a-08);
      position: absolute;
      left: 0;
      bottom: -$frill-size;
    }
  }
}
