.controls {
  font-size: 14px;
  margin-bottom: 20px;
}

img.responsive {
  max-width: 100%;
}

.image-area {
  position: relative;
  display: inline-block;

  img {
    border-radius: var(--border-radius-default);
    box-shadow: var(--box-shadow-default) var(--color-default-shadow);
  }

  .featured {
    $badge-width: 48px;

    background-color: var(--color-banner-background);
    color: var(--color-banner-background);
    font-size: 32px;
    text-shadow: 0 -1px var(--color-banner-shadow),
      0 1px var(--color-banner-highlight);
    text-align: center;
    width: $badge-width;
    position: absolute;
    right: 32px;
    top: -10px;

    /* Flap bit */
    &::before {
      display: block;
      content: '';
      border-color: transparent;
      border-style: solid;
      border-width: 5px 2px;
      border-right-color: var(--color-banner-shadow);
      border-bottom-color: var(--color-banner-shadow);
      position: absolute;
      left: -4px;
      top: 0;
    }

    /* Lower frills bit */
    &::after {
      $frill-size: $badge-width / 2;

      display: block;
      content: '';
      border: $frill-size solid transparent;
      border-left-color: var(--color-banner-background);
      border-right-color: var(--color-banner-background);
      position: absolute;
      left: 0;
      bottom: -$frill-size;
    }
  }
}

.presenter {
  margin-top: 10px;
  padding: 10px;
  text-align: center;

  &.zoomed-in {
    overflow: auto;
    padding-left: 0;
    padding-right: 0;

    img {
      cursor: zoom-out;
    }
  }

  &.zoomed-out img {
    cursor: zoom-in;
  }
}
