.controls {
  font-size: 14px;
  margin-bottom: 20px;
}

img.responsive {
  max-width: 100%;
}

.image-area {
  position: relative;
  display: inline-block;

  img {
    border-radius: var(--generic_border_radius);
  }
}

.presenter {
  margin-top: 10px;
  padding: 10px;
  text-align: center;

  &.zoomed-in {
    overflow: auto;
    padding-left: 0;
    padding-right: 0;

    img {
      cursor: zoom-out;
    }
  }

  &.zoomed-out img {
    cursor: zoom-in;
  }
}
