<div class="micro-hero">
</div>

<div class="panel" *ngIf="!data">
  Loading…
</div>
<div *ngIf="data">
  <div class="presenter" [class.container]="isZoomedOut"
    [class.zoomed-out]="isZoomedOut"
    [class.zoomed-in]="!isZoomedOut">
    <div class="picture-area inline-block">
      <div class="featured" *ngIf="data.featured" title="Featured">
        <i class="far fa-fw fa-trophy" aria-hidden="true"></i>
      </div>
      <img src="{{data.src}}"
           alt="full sized image"
           class="light-shadow"
           [class.responsive]="isZoomedOut"
           (click)="toggleZoom($event)">
    </div>
  </div>
  <div class="controls faux-button-container align-center">
    <a [routerLink]="['/art/album', getPrimaryAlbum().name]"
       id="parent-folder-link">
      <i class="far fa-fw fa-th-large" aria-hidden="true"></i>
      Back to <em>{{getPrimaryAlbum().title}}</em>
    </a>
    <a href="#" (click)="toggleZoom($event)">
      <i class="far fa-fw" aria-hidden="true"
        [class.fa-search-plus]="isZoomedOut"
        [class.fa-search-minus]="!isZoomedOut"></i>
      Zoom
      <span *ngIf="isZoomedOut">in</span>
      <span *ngIf="!isZoomedOut">out</span>
    </a>
  </div>
  <div class="container">
    <div class="post">
      <h2 id="image-title">{{data.title}}</h2>
      <div class="card-info">
        <i class="far fa-fw fa-calendar" aria-hidden="true"></i>
        {{data.date * 1000 | date:'medium'}}
      </div>
      <div class="content-area" [innerHTML]="getParsedContent()"></div>
      <ul class="tags"
           id="gallery-area">
        <li><i class="far fa-tags" aria-hidden="true"></i></li>
        <li class="tag" *ngFor="let gallery of data.containingAlbums">
          <a class="rounded" [routerLink]="['/art/album', gallery.name]">{{gallery.title}}</a>
        </li>
    </ul>
    </div>
  </div>
</div>
