<jblog-page-hero heading="Code"
                 subheading="Programming projects and demos."
                 parallaxImage="/assets/images/code-01.jpg"
                 [parents]="[{title:'projects',link:'/projects'}]">
</jblog-page-hero>

<div class="container">
  <article class="horizontal-feature post"
           id="projects-blurb">
    <h2>Looking to <strong>challenge</strong> the limits of computers through software.</h2>
    <div class="row">
      <div class="col-md-8">
        <p>
          The computer at your desk. The phone in your pocket. The console under
          your TV. Each one of these devices has the potential to be the next
          big thing&mdash;something I’m acutely aware of and thoroughly
          interested in.
        </p>
        <p>
          While desktop and mobile are my strong points, I’m always willing to
          dive in the deep end and program something new. Whether it’s a serious
          business application or a fun, timewasting app&mdash;<em>I’m game</em>.
        </p>
        <p>
          I also spend some of my spare time
          <a class="uncoverable" routerLink="/code/lab">experimenting<i class="far fa-flask"></i></a>
          with exciting new technologies and processes in order to bridge the
          gap between humans and the machines we use.
        </p>
      </div>
      <div class="col-md-4 align-center hidden-sm hidden-xs">
        <img src="/assets/images/programming.svg" alt="stylized image of a computer" class="side-illustration" width="320" />
      </div>
    </div>
  </article>

  <article class="horizontal-feature post"
           id="github-blurb">
    <div class="row">
      <div class="col-md-8">
        <h2>GitHub</h2>
        <p>
          While I don’t use it as often as I’d like to, some of the code projects
          that you can find on this page can also be found on my GitHub page.
        </p>
      </div>
      <div class="col-md-4 align-center hidden-sm hidden-xs">
        <i class="fab fa-fw fa-github fa-10x" aria-hidden="true"></i>
      </div>
    </div>

    <div class="faux-button-container">
      <a href="//github.com/jbrowneuk" class="button primary">
        <i class="fab fa-fw fa-github" aria-hidden="true"></i>
        GitHub profile
      </a>
    </div>
  </article>

  <jblog-projects-container></jblog-projects-container>

</div>
