<div class="container">
  <article id="projects-blurb">
    <div class="grid">
      <div class="text-area">
        <h1>
          Looking to <strong>challenge</strong> the limits of computers using
          software
        </h1>
        <p>
          The computer at your desk. The phone in your pocket. The console under
          your TV. Each one of these devices has the potential to be the next
          big thing&mdash;something I’m acutely aware of and thoroughly
          interested in.
        </p>
        <p>
          While desktop and mobile are my strong points, I’m always willing to
          dive in the deep end and program something new. Whether it’s a serious
          business application or a fun, timewasting app&mdash;<em>I’m game</em
          >.
        </p>
        <p>
          I also spend some of my spare time
          <a routerLink="/code/lab">experimenting</a> with exciting new
          technologies and processes in order to bridge the gap between humans
          and the machines we use.
        </p>
      </div>
      <div class="image-area">
        <img
          src="/assets/images/programming.svg"
          alt="stylized image of a computer"
          class="side-illustration"
          width="320"
        />
      </div>
    </div>
  </article>

  <article id="github-blurb">
    <div class="grid">
      <div class="text-area">
        <h1>GitHub</h1>
        <p>
          The code projects that you can find on this page are all hosted on my
          GitHub profile page.
        </p>
        <div class="button-container">
          <a href="//github.com/jbrowneuk" class="button primary">
            <i class="fab fa-fw fa-github" aria-hidden="true"></i> GitHub
            profile
          </a>
        </div>
      </div>
      <div class="image-area">
        <i class="fab fa-fw fa-github fa-10x" aria-hidden="true"></i>
      </div>
    </div>
  </article>

  <jblog-projects-container
    [showArchived]="archiveFilter.checked"
  ></jblog-projects-container>

  <div class="filter-bar" (click)="archiveFilter.click()">
    <div><i class="far fa-filter" aria-hidden="true"></i></div>
    <label>
      <input type="checkbox" #archiveFilter (change)="(1)" /> Include archived
      projects
    </label>
  </div>
</div>
