.text-area {
  --color-background: var(
    --color-post-background,
    var(--color-container-background)
  );
  --spacing-paragraph: 1em;

  // Flex to prevent margin collapse
  display: flex;
  flex-direction: column;
}

.text-area ::ng-deep {
  hr {
    border: none;
    height: 1px;
    background-color: var(--color-default-border);
  }

  blockquote {
    position: relative;
    margin: 6px 2% var(--spacing-paragraph);
    padding: 16px;
    border: 2px solid var(--color-blockquote-border);
    border-left: none;
    border-right: none;
    border-radius: var(--border-radius-default);
    color: var(--color-blockquote-foreground);

    &::before,
    &::after {
      position: absolute;
      display: block;
      transform: translate(-50%, 0);
      font-size: 20px;
      line-height: normal;
      padding: 0 8px;
      background: var(--color-background);
      color: var(--color-blockquote-icon);
      font-family: Geogia, serif;
      font-weight: 700;
    }

    &::before {
      top: -10px;
      left: 30px;
      content: '“';
    }

    &::after {
      bottom: -15px;
      right: 0px;
      content: '”';
    }
  }

  p,
  hr {
    margin: 0 0 var(--spacing-paragraph);

    &:last-child {
      margin-bottom: 0;
    }
  }

  img.posted {
    display: block;
    margin: 0 auto;
    max-width: 100%;
  }
}
