@import 'palette';
@import 'variables';

.super-hero {
  align-items: center;
  background-size: cover;
  display: flex;
  height: 100vh;
  justify-content: center;
  margin-bottom: 40px;
  position: relative;
}

.parallax {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: hidden;

  img {
    position: absolute;
    min-height: 100%;
    min-width: 100%;
    left: 50%;
    bottom: 0;
    transform: translate(-50%);
  }
}

.hero-logo {
  color: $color-palette5;
  fill: $color-palette5;
  text-align: center;
  text-shadow: 0 0 2px $color-palette3;
  z-index: 1;
}

.tagline {
  background-color: transparentize($color-palette3, 0.25);

  span {
    display: inline-block;
    min-width: 10%;
    padding: 0 5%;
  }
}

$scroll-default-bottom: 20px;

.scrolly-scroll {
  animation-name: scroll-bounce;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  bottom: 20px;
  color: $color-palette5;
  left: 50%;
  position: absolute;
  text-align: center;
  transition: opacity $animation-time-slow;
  width: 30px;

  &.scrolled {
    animation-name: none;
    opacity: 0;
  }
}

@keyframes scroll-bounce {
  $scroll-amount: 5px;

  0% { bottom: $scroll-default-bottom; }
  50% { bottom: $scroll-default-bottom - $scroll-amount; }
  100% { bottom: $scroll-default-bottom; }
}
