<div class="panel heroic-padding">
  <div class="container align-center">
    <img src="/assets/images/signature.svg" alt="siggy" />
    <h1>Hi. I’m Jason. I’m a <strong>computer guy</strong>.</h1>
    <div>
      <small class="uppercase-text">photography • vectors • web development • desktop app development</small>
    </div>
  </div>
</div>

<hr />

<div class="panel">
  <div class="container align-center">
    <jblog-image-container [albumName]="'featured'" [imageCount]="6"></jblog-image-container>
  </div>
</div>

<hr />

<section class="panel">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <h2>Software</h2>
        <article class="content-area">
          <p>I’m a Front-End software developer currently working on Web apps using Angular, NodeJS, JavaScript and Docker.</p>
          <p>I also have a very basic User Experience skill set which I am actively building upon.</p>
        </article>
        <div>
          <a routerLink="/code" class="button default">
            <i class="fa fa-code"></i>
            View the source
          </a>
        </div>
      </div>
      <div class="col-md-4 align-center hidden-sm hidden-xs">
        <img src="/assets/images/overview-programming.svg" alt="project image" width="320" />
      </div>
    </div>
  </div>
</section>

<div class="whitespace-weight-balancing">
</div>
