<div class="hero-slideshow" [@carouselTransitions]="slideNumber">
  <div class="slide full-width" *ngIf="slideNumber === 0">
    <div class="container">
      <div class="text">
        <svg class="signature"><use xlink:href="#sitesheet-signature" /></svg>
        <div class="tagline">
          <span>Artworks</span> • <span>Visual Design</span> • <span>Code</span>
        </div>
      </div>
    </div>
  </div>
  <div class="slide" *ngIf="slideNumber === 1">
    <div class="container">
      <div class="text">
        <h1>Software</h1>
        <p>
          I’m a Front-End software developer currently working on Web apps using
          Angular, NodeJS, JavaScript and Docker.
        </p>
        <p>
          I also have a very basic User Experience skill set which I am actively
          building upon.
        </p>
        <div class="button-container">
          <a role="button" class="primary" routerLink="/projects/code">
            <i class="las la-code"></i> View the source
          </a>
        </div>
      </div>
      <div class="image">
        <img
          src="/assets/images/top/hero-programming.png"
          alt="project image"
        />
      </div>
    </div>
  </div>
  <div class="slide" *ngIf="slideNumber === 2">
    <div class="container">
      <div class="text">
        <h1>Visuals and artworks</h1>
        <p>
          I spend a lot of my life being visually creative, and strive to bring
          those skills into my daily work.
        </p>
        <div class="button-container">
          <a role="button" class="primary" routerLink="/art">
            <i class="las la-rocket"></i> View the gallery
          </a>
          <a role="button" routerLink="/art/insights">
            <i class="las la-binoculars"></i> Behind the scenes
          </a>
        </div>
      </div>
      <div class="image">
        <img src="/assets/images/top/hero-artworks.png" alt="gallery image" />
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="page-indicators grid">
    <div class="previous control-button" (click)="goToPreviousSlide()">
      <i class="las fa-fw la-angle-left"></i>
    </div>
    <ng-container
      *ngTemplateOutlet="
        indicatorTemplate;
        context: { id: 0, title: 'About', image: 'about' }
      "
    >
      Jason
    </ng-container>
    <ng-container
      *ngTemplateOutlet="
        indicatorTemplate;
        context: { id: 1, title: 'Software', image: 'software' }
      "
    >
      Software
    </ng-container>
    <ng-container
      *ngTemplateOutlet="
        indicatorTemplate;
        context: { id: 2, title: 'Artworks', image: 'art' }
      "
    >
      Visual
    </ng-container>
    <div class="next control-button" (click)="goToNextSlide()">
      <i class="las fa-fw la-angle-right"></i>
    </div>
  </div>
</div>

<ng-template #indicatorTemplate let-id="id" let-title="title" let-image="image">
  <div
    class="indicator item-{{ id }}"
    [class.active]="slideNumber === id"
    (click)="setSlide(id)"
  >
    <span class="title-text">{{ title }}</span>
    <img
      class="image"
      src="/assets/images/top/indicator-{{ image }}.svg"
      alt="{{ title }}"
    />
  </div>
</ng-template>
