<div class="panel">
  <div class="container align-center">
    <h1>Hi. I’m Jason. I’m a <strong>computer guy</strong>.</h1>
    <div>
      <small class="uppercase-text">web development • desktop app development • photography • vectors</small>
    </div>
  </div>
</div>

<div class="container">
  <hr />
</div>

<div class="panel">
  <div class="container align-center">
    <h2>Latest featured images</h2>
    <jblog-image-container [albumName]="'featured'" [imageCount]="6"></jblog-image-container>
  </div>
</div>

<div class="container">
  <hr />
</div>

<div class="panel align-center">
  <div class="container align-center">
    <h2>Latest vector images</h2>
    <jblog-image-container [albumName]="'vector'" [imageCount]="3"></jblog-image-container>
  </div>
</div>

<div class="container">
  <hr />
</div>

<div class="panel align-center">
  <div class="container">
    <h2>Latest projects</h2>
  </div>
</div>
