.page-indicators {
  line-height: 1;

  .previous {
    grid-column: 3;
  }

  .next {
    grid-column: 10;
  }

  .item-0 {
    grid-column: 4 / span 2;
  }

  .item-1 {
    grid-column: 6 / span 2;
  }

  .item-2 {
    grid-column: 8 / span 2;
  }
}

.indicator {
  display: flex;
  height: var(--indicator-main-height);
  overflow: hidden;
  padding: 0 8px 0 16px;
  position: relative;
  align-items: center;
  justify-content: space-between;
  border-radius: var(--border-radius-default);
  background: var(--color-progressbar-active);
  color: var(--color-light-foreground);
  box-shadow: var(--box-shadow-default) var(--color-default-shadow);
  transition: top 0.2s, box-shadow 0.2s;
  cursor: pointer;

  &::before {
    content: '';
    width: 0;
    height: 0;
    position: absolute;
    left: -10px;
    top: 0;
    margin-left: -10px;
    border: 10px solid transparent;
    border-top-color: var(--color-default-background);
  }

  &::after {
    display: block;
    content: '';
    height: var(--indicator-visual-height);
    width: 100%;
    background-color: var(--color-slide-indicator);
    position: absolute;
    left: 0;
    bottom: 0;
    transition: background-color 0.2s, width 0.2s;
  }

  &:hover:not(.active) {
    top: -0.5px;
    box-shadow: var(--box-shadow-default-hover) var(--color-default-shadow);

    &::after {
      background-color: var(--color-slide-indicator-hover);
    }
  }

  &.active {
    top: -1px;
    cursor: default;
    background: var(--slide-background);

    &::before {
      animation: indicator-animation 8s linear;
      animation-fill-mode: forwards;
    }
  }

  .title-text {
    flex-grow: 1;
  }

  .image {
    height: 100%;
    vertical-align: middle;
  }
}

@keyframes indicator-animation {
  0% {
    left: -10px;
  }

  5% {
    left: 50%;
  }

  95% {
    left: 50%;
  }

  100% {
    left: calc(100% + 10px);
  }
}
