.form-row,
.error-row {
  position: relative;
  margin-bottom: 4px;

  .accessory {
    position: absolute;
    left: 8px;
    top: 50%;
    margin-top: -8px;
  }
}

.error-row {
  color: var(--color-error);

  .error-text {
    display: block;
  }
}

.error-text,
input {
  width: 100%;
  padding: 4px 8px 4px 32px;
}

input {
  border: 1px solid var(--color-input-border);
  border-radius: var(--border-radius-default);
  background-color: var(--color-input-background);

  &:focus {
    border-color: var(--color-input-border-focus);
    background-color: var(--color-input-background-focus);
  }
}
