:host {
  --size-internal-padding: 20px;

  display: block;
}

// Post container
article {
  margin-bottom: 56px;
  padding: 40px 10%;
}

.date,
.tags-area {
  color: var(--color-secondary-foreground);
}

header {
  line-height: 1;
  margin-bottom: var(--size-internal-padding);

  h1 {
    margin: 0;
    font-weight: 300;
  }

  h1 a {
    text-decoration: none;
    color: inherit;
  }
}

footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: var(--size-internal-padding);
  padding-top: var(--size-internal-padding);
  border-top: 1px solid var(--color-default-border);
}

.outdated-content {
  margin-bottom: var(--size-internal-padding);
  padding: 8px 16px;
  border: 1px solid var(--color-error);
  border-radius: var(--border-radius-default);
  color: var(--color-error);
}
