<article class="horizontal-feature post" id="{{data.postId}}" *ngIf="data">

  <h2>{{data.title}}</h2>
  <div class="card-info ">
    <i class="fa fa-fw fa-calendar" aria-hidden="true"></i>
    {{data.date * 1000 | date:'medium'}}
  </div>
  <div class="outdated-content"
        *ngIf="ageInYearsGreaterThan(2)">
    This post is over two years old. The content here might not be relevant any more.
  </div>
  <div class="content-area"></div>

  <ul class="tags">
    <li><i class="fa fa-tags" aria-hidden="true"></i></li>
    <li class="tag" *ngFor="let tag of data.tags">
      <a class="rounded" [routerLink]="['/journal/tag', tag]">{{tag}}</a>
    </li>
    <li class="tagless"
          *ngIf="!hasTags()">Not tagged</li>
  </ul>
</article>
