<div class="coloured-section-container">
  <div class="portfolio">
    <div class="wrapper content-container">
      <div class="content-illustration">
        <div><img src="/images/programming.svg?2016" alt="Stylized computer screen" width="320"/></div>
      </div>
      <div class="content-area">
        <h2>Programming</h2>
        <p class="large-text">Looking to <strong>challenge</strong> the limits of computers through software.</p>
        <p>The computer at your desk. The phone in your pocket. The console under your TV. Each one of these devices has the potential to be the next big thing&mdash;something I’m acutely aware of and thoroughly interested in.</p>
        <p>While desktop and mobile are my strong points, I’m always willing to dive in the deep end and program something new. Whether it’s a serious business application or a fun, timewasting app&mdash;<em>I’m game</em>.</p>
        <p>I also spend some of my spare time <a class="uncoverable theme-4" href="/lab">experimenting<i class="fa fa-flask"></i></a> with exciting new technologies and processes in order to bridge the gap between humans and the machines we use.</p>
      </div>
    </div>
  </div>
</div>
<div class="coloured-section-container">
  <div class="portfolio lowered-area">
    <article class="wrapper">
      <h2>GitHub</h2>
      <p class="large-text">Find me on GitHub.</p>
      <p>While I don’t use it as often as I’d like to, some of the code projects that you can find on this page can also be found on my GitHub page.</p>
      <div class="button-area">
        <a class="primary" href="//github.com/jbrowneuk"><i class="fa fa-fw fa-github"></i>GitHub profile</a>
      </div>
    </article>
  </div>
</div>
<!-- ======================================================================= -->
<!-- Loading state                                                           -->
<!-- ======================================================================= -->
<div *ngIf="!isLoaded" class="coloured-section-container">
  <div class="post">
    <article class="wrapper">
      <h2>Hang tight!</h2>
      <p><i class="fa fa-fw fa-spin fa-circle-o-notch"></i> Grabbing projects from the server…</p>
    </article>
  </div>
</div>
<!-- ======================================================================= -->
<!-- Loaded but empty state                                                  -->
<!-- ======================================================================= -->
<div *ngIf="isLoaded && !hasProjects()" class="coloured-section-container">
  <div class="post">
    <article class="wrapper">
      <h2>Nothing here…</h2>
      <p>There are no projects.</p>
    </article>
  </div>
</div>
<!-- ======================================================================= -->
<!-- Project list                                                            -->
<!-- ======================================================================= -->
<div *ngFor="let project of projects" class="coloured-section-container">
  <div class="showcase no-screen">
    <div class="wrapper">
      <div class="content-area post">
        <article>
          <h2>{{project.title}}</h2>
          <div class="info">{{project.info}}</div>
          <p>
            {{project.summary}}
          </p>
          <div class="info"></div>
          <div class="button-area">
            <a href="{{project.link}}"><i class="fa fa-rocket"></i> Go to project page</a>
          </div>
        </article>
      </div>
      <div class="content-illustration">
        <div class="virtual-presenter">
          <img src="{{project.image}}" alt="project image" class="screen" />
        </div>
      </div>
    </div>
  </div>
</div>
