<jblog-pagination componentName="journal"
                  [currentPage]="page"
                  [totalPages]="totalPages"
                  [isLoading]="!isLoaded"></jblog-pagination>

<div id="tag-header" class="coloured-section">
  <div class="wrapper">
    <h1>{{title}}</h1>
  </div>
</div>
<!-- ======================================================================= -->
<!-- Loading state                                                           -->
<!-- ======================================================================= -->
<div *ngIf="!isLoaded" class="coloured-section-container">
  <div class="post">
    <article class="wrapper">
      <h2>Hang tight!</h2>
      <p><i class="fa fa-fw fa-spin fa-circle-o-notch"></i> Reading the journal…</p>
    </article>
  </div>
</div>
<!-- ======================================================================= -->
<!-- Loaded but empty state                                                  -->
<!-- ======================================================================= -->
<div *ngIf="isLoaded && !hasPosts()" class="coloured-section-container">
  <div class="post">
    <article class="wrapper">
      <h2>Nothing here…</h2>
      <p>There are no posts.</p>
    </article>
  </div>
</div>
<!-- ======================================================================= -->
<!-- Post list                                                               -->
<!-- ======================================================================= -->
<jblog-post *ngFor="let post of posts"
            [postData]="post"
            class="coloured-section-container"></jblog-post>

<jblog-pagination componentName="journal"
                  [currentPage]="page"
                  [totalPages]="totalPages"
                  [isLoading]="!isLoaded"></jblog-pagination>
