<nav class="pagination">
  <ul role="navigation">
    <li>
      <a routerLink="/">
        <i class="fa fa-fw fa-home" aria-hidden="true"></i>
        Back to home page
      </a>
    </li>
  </ul>
</nav>
<div class="post">
  <article class="wrapper">
    <div class="align-centre">
      <img src="/public/images/calendar/empty.png" class="posted"/>
    </div>
    <h2>Hold up a second!</h2>
    <p>This <em>probably</em> isn’t the thing you're looking for, is it?</p>
    <p>Let's get you back on the right track. Here's some links to get you started:</p>
    <ul>
      <li><a routerLink="/">Portfolio home</a></li>
      <li><a routerLink="/about/">About Jason Browne</a></li>
      <li><a routerLink="/art/">Art gallery</a></li>
      <li><a routerLink="/code/">Code projects</a></li>
      <li><a routerLink="/journal/">Journal</a></li>
    </ul>
  </article>
</div>
