<nav class="pagination">
  <ul role="navigation">
    <li>
      <a routerLink="/">
        <i class="fa fa-fw fa-home" aria-hidden="true"></i>
        Back to home page
      </a>
    </li>
  </ul>
</nav>
<div class="post">
  <article class="wrapper">
    <h2>Whoops!</h2>
    <div class="info">404: page not found</div>
    <p>
      This <em>probably</em> isn’t the thing you're looking for, is it? Looks
      like the link you followed doesn’t exist.
    </p>
    <p>
      Let's get you back on the right track. Here's some places to get you started:
    </p>
    <div class="button-area align-centre">
      <a class="primary" routerLink="/"><i class="fa fa-fw fa-home"></i>Portfolio home</a>
      <a routerLink="/about/"><i class="fa fa-fw fa-male"></i>About me</a>
      <a routerLink="/art/"><i class="fa fa-fw fa-picture-o"></i>Art gallery</a>
      <a routerLink="/code/"><i class="fa fa-fw fa-rocket"></i>Code projects</a>
      <a routerLink="/journal/"><i class="fa fa-fw fa-pencil"></i>Journal</a>
    </div>
  </article>
</div>
