.spritesheet {
  display: none;
}

.secondary-text {
  color: var(--page_color_foreground-secondary);
}

.skeleton-loader-background {
  background-color: var(--skeleton-loader_background-a);
  background-image: linear-gradient(
    to left,
    var(--skeleton-loader_background-a),
    var(--skeleton-loader_background-b)
  );
  background-size: 400% 400%;
  animation: background-back-and-forth 2s ease infinite;
}

.loading-area {
  min-height: 50vh;
}

.text-center {
  text-align: center;
}

.fancy-heading-container {
  display: inline-block;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;

  &.blue {
    background-color: var(--fancy-heading-1_color_a);
    background-image: linear-gradient(
      to bottom,
      var(--fancy-heading-1_color_a),
      var(--fancy-heading-1_color_b)
    );
  }

  &.light {
    background-color: var(--hero_color_foreground);
    background-image: linear-gradient(
      to bottom,
      var(--hero_color_foreground),
      var(--hero_color_foreground-secondary)
    );
  }
}

.sr-only {
  position: relative;
  display: inline-block;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  margin: -1px;
  padding: 0;
  border: none;
}
