<div class="container">
  <div id="dashboard" class="base-card">
    <nav id="side">
      <ul>
        <li class="top-area">
          <svg class="site-icon"><use xlink:href="#sitesheet-logo" /></svg>
        </li>
        <li>
          <a routerLink="/admin/user" routerLinkActive="active">
            <i class="icon fad fa-user" aria-hidden="true"></i>
            <span class="text">Profile</span>
          </a>
        </li>
        <li>
          <a routerLink="/admin/posts" routerLinkActive="active">
            <i class="icon fad fa-book" aria-hidden="true"></i>
            <span class="text">Posts</span>
          </a>
        </li>
        <li>
          <a routerLink="/admin/gallery" routerLinkActive="active">
            <i class="icon fad fa-images" aria-hidden="true"></i>
            <span class="text">Gallery</span>
          </a>
        </li>
      </ul>
    </nav>
    <div
      id="main"
      [@adminRouterAnimations]="outlet.isActivated && outlet.activatedRoute.url"
    >
      <router-outlet #outlet="outlet"></router-outlet>
    </div>
  </div>
</div>
