:host ::ng-deep {
  .top-area {
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 8px;
    border-bottom: 1px solid var(--color-container-border);

    .button-container {
      justify-content: flex-end;
    }
  }

  .admin-table {
    border-spacing: 0;
    width: 100%;
    margin-bottom: 5px;

    td,
    th {
      padding: 4px 16px;
    }

    thead {
      text-align: left;

      tr th {
        font-weight: normal;
        border-bottom: 1px solid var(--color-container-border);
      }
    }

    tbody {
      background-color: var(--color-table-row-background);

      tr:nth-child(even) {
        background-color: var(--color-table-row-background-alt);
      }
    }
  }

  .delete {
    color: var(--color-destructive-action);

    &:hover {
      color: var(--color-destructive-action-hover);
    }
  }
}

#side {
  background-color: var(--color-dashboard-side-background);
  border-radius: var(--border-radius-default) 0 0 var(--border-radius-default);
  color: var(--color-dashboard-side-foreground);

  ul,
  li {
    margin: 0;
    padding: 0;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none inside;
  }

  a {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5px;
    text-decoration: none;
    color: inherit;

    &:hover {
      background-color: var(--color-dashboard-side-hover-background);
      color: var(--color-dashboard-side-hover-foreground);
    }

    &.active {
      background-color: var(--color-dashboard-side-selected-background);
      color: var(--color-dashboard-side-selected-foreground);
    }
  }

  .icon {
    font-size: 24px;
  }

  .site-icon {
    width: 24px;
  }

  .top-area {
    justify-content: center;
    border-bottom-color: transparent;
  }
}

#main {
  position: relative;
}

#dashboard {
  display: grid;
  grid-template-columns: max-content 1fr;
  min-height: 60vh;

  #side {
    grid-column: 1;
  }

  #main {
    grid-column: 2;
  }
}
