<jblog-page-hero heading="Projects"
                 subheading="Constructive things I do in my spare time."
                 parallaxImage="/assets/images/code-01.jpg">
</jblog-page-hero>

<div class="container">
  <article class="horizontal-feature basic-card rounded light-shadow"
           id="projects-blurb">
    <p>
      disambiguation-page works!
    </p>
    <p>
      <a routerLink="/projects/code">Code</a>
      <a routerLink="/projects/hardware">Hardware</a>
      <a routerLink="/projects/recipes">Recipes</a>
    </p>
  </article>
</div>
