<jblog-page-hero heading="Projects"
                 subheading="Constructive things I do in my spare time."
                 parallaxImage="/assets/images/code-01.jpg">
</jblog-page-hero>

<div class="container">
  <article class="post basic-card rounded light-shadow"
           id="projects-blurb">
    <h2>More than just a worker drone</h2>
    <p>
      I’m not all about work. When I’m at home, there’s a plethora of
      constructive things I enjoy doing. The most interesting of these are found
      in the following three sections:
    </p>
    <div class="select-button-area">
      <a routerLink="/projects/code" class="select-button unpadded-card rounded light-shadow hoverable">
        <span class="image-area">
          <img src="/assets/images/overview-programming.svg" alt="project image" width="320" />
        </span>
        <span class="text-area">Code</span>
      </a>
      <a routerLink="/projects/hardware" class="select-button unpadded-card rounded light-shadow hoverable">
        <span class="image-area">
          <img src="/assets/images/overview-hardware.svg" alt="project image" width="320" />
        </span>
        <span class="text-area">Hardware</span>
      </a>
      <a routerLink="/projects/recipes" class="select-button unpadded-card rounded light-shadow hoverable">
        <span class="image-area">
          <img src="/assets/images/overview-recipes.svg" alt="project image" width="320" />
        </span>
        <span class="text-area">Recipes</span>
      </a>
    </div>
  </article>
</div>
