@import 'palette';
@import 'variables';

.select-button-area {
  text-align: center;
}

.select-button {
  display: inline-block;
  text-align: left;
  text-decoration: none;
  margin-bottom: .5em;
  min-width: 200px;
  overflow: hidden;
  width: 33%;

  .image-area {
    $height: 320px;

    background-color: $color-palette4;
    display: flex;
    height: $height;
    align-items: center;
    justify-content: center;
  }

  .text-area {
    background: $color-palette5;
    color: $color-palette2;
    display: block;
    padding: 8px 15px;
    transition: background-color $animation-time-medium;
  }
}
