<div class="top-super-hero beam-container" data-test="signature-area">
  <div class="text text-center">
    <svg id="signature" data-test="signature">
      <use xlink:href="#sitesheet-signature" />
    </svg>
    <p id="tagline" data-test="tagline">
      <span class="fancy-heading-container light">
        <span>Artworks</span> • <span>Visual Design</span> •
        <span>Code</span>
      </span>
    </p>
  </div>

  <div class="text-center scroll-bouncer">
    <i class="las la-arrow-down icon"></i>
  </div>

  <div class="beam el1"></div>
  <div class="beam el2"></div>
  <div class="beam el3"></div>
  <div class="beam el4"></div>
  <div class="beam el5"></div>
  <div class="beam el6"></div>
  <div class="beam el7"></div>
  <div class="beam el8"></div>
  <div class="beam el9"></div>
</div>
