<div class="post">
  <article class="wrapper" *ngIf="!isLoaded">
    <h2>Loading…</h2>
    <p>Getting the latest data from the server.</p>
  </article>
  <article class="wrapper" *ngIf="albumInfo">
    <h2 *ngIf="!isLoaded">Loading…</h2>
    <p *ngIf="!isLoaded">Getting the latest data from the server.</p>
    <h2>{{albumInfo.title}}</h2>
    <p>{{albumInfo.description}}</p>
  </article>
</div>
<jblog-pagination componentName="art"
                  [currentPage]="page"
                  [totalPages]="totalPages"></jblog-pagination>
<div id="gallery-thumbnails" class="lowered-area">
  <h3 *ngIf="!isLoaded">Loading…</h3>
  <a class="card hoverable"
     *ngFor="let image of images"
     [routerLink]="['/art', 'view', image.imageId]">
    <span class="image-area"><img src="{{image.thumbnailUrl}}" alt="Thumbnail"></span>
    <span class="text-area">
      <span class="galleries">{{formatGalleries(image)}}</span>
      <span class="title">{{image.title}}</span>
    </span>
  </a>
</div>
<jblog-pagination componentName="art"
                  [currentPage]="page"
                  [totalPages]="totalPages"></jblog-pagination>
