<div id="tag-header" class="coloured-section">
  <div class="wrapper" *ngIf="!isLoaded">
    <h1>Hang tight!</h1>
    <p><i class="fa fa-fw fa-spin fa-circle-o-notch"></i> Getting the latest data from the server.</p>
  </div>
  <div class="wrapper" *ngIf="albumInfo">
    <h1>{{albumInfo.title}}</h1>
    <p>{{albumInfo.description}}</p>
  </div>
  <div class="wrapper">
    <div class="button-area align-centre album-choice-area">
      <a class="primary" routerLink="/art/albums"><i class="fa fa-fw fa-book"></i>Choose another album</a>
      <a routerLink="/art/album/latest"><i class="fa fa-fw fa-clock-o"></i>See latest images</a>
    </div>
  </div>
</div>

<jblog-pagination [urlComponents]="['art', 'album', albumName]"
                  [currentPage]="page"
                  [totalPages]="totalPages"></jblog-pagination>

<div id="gallery-thumbnails" class="lowered-area">
  <a class="card hoverable"
     *ngFor="let image of images"
     [routerLink]="['/art', 'view', image.imageId]">
    <span class="image-area"><img src="{{image.thumbnailUrl}}" alt="Thumbnail"></span>
    <span class="text-area">
      <span class="galleries">{{formatGalleries(image)}}</span>
      <span class="title">{{image.title}}</span>
    </span>
  </a>
</div>

<jblog-pagination [urlComponents]="['art', 'album', albumName]"
                  [currentPage]="page"
                  [totalPages]="totalPages"></jblog-pagination>
