<!-- Navigation -->
<div id="gallery-presenter" class="coloured-section" *ngIf="image">
  <img class="card" src="{{image.url}}" alt="{$Title}"/>
</div>
<div class="post coloured-section" *ngIf="image">
  <article class="wrapper">
    <h2>{{image.title}}</h2>
    <div class="info">
      <ul>
        <li><i class="fa fa-fw fa-calendar" aria-hidden="true"></i> {{ (image.date | amFromUnix) | amDateFormat:'LLL' }}</li>
      </ul>
    </div>
    <div class="content" [innerHTML]="getParsedContent()"></div>
  </article>
</div>
