@import 'variables';

.gallery-info {
  .container {
    display: flex;
    align-items: center;
  }

  .spacer {
    flex-grow: 1;
  }

  .image-count {
    margin-right: 8px;
    color: var(--color-secondary-foreground);
  }
}

@media screen and (max-width: $breakpoint-md) {
  .gallery-info {
    .container {
      flex-direction: column;
    }

    .image-count {
      margin: 0 0 8px 0;
    }
  }
}
