<section id="information" class="panel">
  <div class="container" *ngIf="isLoadingAlbumData">
    Loading…
  </div>
  <div class="container" *ngIf="!isLoadingAlbumData && loadingFailed">
    <h1>No album data</h1>
    <p><i class="fa fa-frown-o fa-fw" aria-hidden="true"></i> Nothing was found.</p>
    <p>Try refreshing the page or <a routerLink="/art">going back to the main album</a>.</p>
  </div>
  <div class="container" *ngIf="data">
    <div class="row">
      <div class="col-md-8">
        <h1>{{data.title}}</h1>
        <div class="content-info-area">
          <ul>
            <li>
              <i class="fa fa-fw fa-info-circle" aria-hidden="true"></i>
              {{data.imagesInAlbum}} image{{data.imagesInAlbum === 1 ? '' : 's'}}
            </li>
          </ul>
        </div>
        <article class="content-area">
          <p *ngFor='let para of data.description | lineSplitting'>{{para}}</p>
        </article>
        <div class="controls">
          <a routerLink="/art/albums" class="button default">
            <i class="fa fa-fw fa-folder" aria-hidden="true"></i>
            Pick a different album
          </a>
        </div>
      </div>
      <div class="col-md-4 align-center hidden-sm hidden-xs">
        <img src="{{data.iconUrl}}" alt="icon" class="card">
      </div>
    </div>
  </div>
</section>

<hr *ngIf="data" />

<div id="thumbnails" class="panel align-center" *ngIf="data">
  <div class="container">

    <jblog-pagination [urlComponents]="['art', 'album', data.name]"
                      [currentPage]="page"
                      [totalPages]="data.totalPages"></jblog-pagination>

    <jblog-image-container [albumName]="data.name"
                           [page]="page"></jblog-image-container>

    <jblog-pagination [urlComponents]="['art', 'album', data.name]"
                      [currentPage]="page"
                      [totalPages]="data.totalPages"></jblog-pagination>
  </div>
</div>
