<jblog-page-hero heading="Gallery"
                 subheading="Artworks I have drawn, painted or created some way or another."
                 parallaxImage="/assets/images/gallery-01.jpg">
</jblog-page-hero>

<div class="container" *ngIf="isLoadingAlbumData">
  <div class="horizontal-feature align-center">
    <jblog-load-spinner></jblog-load-spinner>
    <h2>Hang tight!</h2>
    <p>Loading album…</p>
  </div>
</div>

<div class="container" *ngIf="loadingFailed">
  <div class="horizontal-feature">
    <div class="basic-card rounded light-shadow">
      <h2>There was a problem</h2>
      <p>Please <a href=".">refresh the page</a> or try again later.</p>
    </div>
  </div>
</div>

<div class="container" *ngIf="data">
  <article class="horizontal-feature segmented-container light-shadow">
    <div class="top-segment basic-card">
      <div class="row">
        <div class="col-md-8">
          <h2>{{data.title}}</h2>
          <div class="card-info">
            {{data.imagesInAlbum}} image{{data.imagesInAlbum === 1 ? '' : 's'}}
          </div>
          <p *ngFor='let para of data.description | lineSplitting'>{{para}}</p>
        </div>
        <div class="col-md-4 align-center hidden-sm hidden-xs">
          <img src="{{data.iconUrl}}" alt="album preview image" class="light-shadow" />
        </div>
      </div>
    </div>
    <div class="bottom-segment faux-button-container align-center">
      <a routerLink="/art/albums" class="button default">
        <i class="fa fa-fw fa-folder" aria-hidden="true"></i>
        Pick a different album
      </a>
    </div>
  </article>
</div>

<div id="thumbnails" class="align-center" *ngIf="data">
  <div class="container">

    <jblog-pagination [urlComponents]="['art', 'album', data.name]"
                      [currentPage]="page"
                      [totalPages]="data.totalPages"></jblog-pagination>

    <jblog-image-container [albumName]="data.name"
                           [page]="page"></jblog-image-container>

    <jblog-pagination [urlComponents]="['art', 'album', data.name]"
                      [currentPage]="page"
                      [totalPages]="data.totalPages"></jblog-pagination>
  </div>
</div>
