*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  font-family: 'Geomanist', sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
  overflow: auto;
  box-sizing: border-box;
}

body {
  background: var(--color-default-background);
  color: var(--color-default-foreground);
  font-size: 16px;
  line-height: 1.5;
}

a {
  color: var(--color-link-foreground);
  transition: color 0.2s;

  &:hover,
  &:focus {
    color: var(--color-link-hover-foreground);
  }
}

h1 {
  font-weight: normal;
  font-size: 40px;
  margin: 0;
  padding: 0;
}

h2 {
  font-weight: normal;
}
