::-moz-selection {
  color: var(--color-selection-foreground);
  background-color: var(--color-selection-background);
}

::selection {
  color: var(--color-selection-foreground);
  background-color: var(--color-selection-background);
}
