@import 'palette';
@import 'variables';

$height: 30px;

.pagination {
  color: $color-main-foreground;
  list-style-position: inside;
  list-style-type: none;
  line-height: $height;
  margin: 16px;
  padding: 0;

  .active {
    a,
    span {
      background-color: $color-theme-1;
      color: $color-bright-primary;
    }
  }

  a,
  span {
    border-radius: 2px;
    display: inline-block;
    padding: 0 8px;
  }

  a {
    text-decoration: none;
    transition: color $animation-time-medium, background-color $animation-time-medium;

    &:hover {
      background-color: $color-bright-secondary;
    }

    &:active {
      background-color: $color-theme-1;
      color: $color-bright-primary;
    }
  }

  ul {
    margin: 0;
    padding: 0;

    li {
      display: inline-block;
      margin: 0 4px;
    }
  }

  .directional-indicator,
  .spacer {
    margin: 0 8px;
  }
}
