@import 'palette';
@import 'variables';

ul {
  list-style: none inside;
  margin: 0;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0;
  padding: 0;
}

a,
span {
  display: inline-block;
  min-width: 30px;
  padding: 0 20px;
}

a {
  background-color: $color-palette5;
  color: $color-palette3;
  text-decoration: none;
  transition: color $animation-time-medium, background-color $animation-time-medium;

  &:hover {
    background-color: $color-palette4;
  }
}

.active {
  a,
  span {
    background-color: $color-palette3;
    color: $color-palette5;
  }
}

.spacer {
  background-color: $color-palette5;
}

.pagination {
  color: $color-palette4;

  ul {
    background-color: $color-backdrop;
    border: 1px solid $color-palette4;
    display: inline-block;
    margin: 10px auto;
  }

  li {
    &:first-child a {
      border-radius: $default-radius 0 0 0;
      border-right: 1px solid $color-palette4;
      margin-right: -0.25em;
    }

    &:last-child a {
      border-left: 1px solid $color-palette4;
      border-radius: 0 0 $default-radius 0;
      margin-left: -0.25em;
    }
  }
}
