ul {
  list-style: none inside;
  margin: 0;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0;
  padding: 0 4px;
}

a,
span {
  display: inline-block;
  min-width: 24px;
  padding: 0 12px;
}

a {
  text-decoration: none;
  border: 1px solid var(--navigation-link_color_border);
  border-radius: var(--generic_border_radius);
  color: var(--navigation-link_color_foreground);
  background-color: var(--navigation-link_color_background);

  &:hover {
    background-color: var(--navigation-link_color_background-hover);
    border-color: var(--navigation-link_color_border-hover);
    color: var(--navigation-link_color_foreground-hover);
    text-shadow: 0 1px 1px var(--generic_color_shadow);
  }
}

span,
.spacer {
  color: var(--page_color_foreground-secondary);
}

.active {
  a,
  span {
    background-color: var(--navigation-link_color_background-active);
    border-color: var(--navigation-link_color_border-active);
    color: var(--navigation-link_color_foreground-active);
  }
}

.pagination {
  ul {
    display: inline-block;
    margin: 10px auto;
  }

  li {
    &:first-child a,
    &:first-child span {
      margin-right: -0.25em;
    }

    &:last-child a,
    &:last-child span {
      margin-left: -0.25em;
    }
  }
}
