<div class="container">
  <article class="post base-card">
    <header class="header-area"><h1>The unique selling point</h1></header>
    <div class="grid">
      <div class="text-area">
        <p>
          Visual art is core to who I am, and you’ll almost always find a me
          accompanied by a sketchpad of sorts which I’ll use to scribble on
          during downtime. I’m also the type of person who rarely leaves the
          house without a camera, because sometimes the best photographs are the
          more spontaneous ones.
        </p>
        <p>
          The visual art I display on my site generally tends to be hobby work
          as opposed to anything professional, however at work I am tasked with
          bringing the best of these talents and skills into my day-to-day job.
        </p>
        <div class="button-container">
          <a class="primary" routerLink="/art/album/featured/page/1">
            <i aria-hidden="true" class="las fa-fw la-award"></i> Featured works
          </a>
          <a class="secondary" routerLink="/art/album/latest/page/1">
            <i aria-hidden="true" class="las fa-fw la-images"></i> Latest works
          </a>
        </div>
      </div>
      <div class="image-area">
        <svg class="signature"><use xlink:href="#sitesheet-signature" /></svg>
      </div>
    </div>
  </article>
</div>

<jblog-image-container
  albumName="traditional"
  [imageCount]="4"
></jblog-image-container>

<div class="container">
  <article class="post base-card">
    <header class="header-area"><h1>Manifesto</h1></header>
    <div class="grid">
      <div class="text-area">
        <p>
          There are four main goals I try to adhere to when I have my artist’s
          hat on:
        </p>
        <ul>
          <li>
            <strong>Venture into the unknown.</strong> Never be afraid to
            experiment. Push the bounds of every toolset.
          </li>
          <li>
            <strong>Challenge myself.</strong> Iteratively improve upon previous
            works by learning new techniques.
          </li>
          <li>
            <strong>Contribute back.</strong> Create art not only for myself,
            but for the community as well.
          </li>
          <li>
            <strong>Learn from others.</strong> Critique and provide
            constructive criticism that promotes growth.
          </li>
        </ul>
      </div>
      <div class="image-area">
        <img
          src="/assets/images/insights/brushes.svg"
          alt="pencils"
          width="320"
        />
      </div>
    </div>
  </article>
</div>

<jblog-image-container
  albumName="vector"
  [imageCount]="4"
></jblog-image-container>

<div class="container">
  <article class="post base-card">
    <header class="header-area"><h1>On vector graphics</h1></header>
    <div class="grid">
      <div class="text-area">
        <p>
          I create the bulk of my vector graphics using Inkscape. While I’ve
          used other vector editors in the past, I find myself returning to
          Inkscape, as it is the tool I have the most experience with.
        </p>
        <p>
          My vector graphics can go from ultra-realistic to completely whimsical
          and absurd. For my personal images, the end result is usually
          dependent upon mood and the type of piece I’m creating: I’ve been
          known to create simplistic cartoons for months on end before switching
          to the opposite end of the spectrum and creating photorealistic still
          life images.
        </p>
        <p>
          My professional vector works tend to primarily focus on visual design
          and UX wireframing, using tools such as Sketch and Balsamiq Mockups. I
          always make an effort to inject a bit of my personality into
          everything I create.
        </p>

        <div class="button-container">
          <a class="primary" routerLink="/art/album/vector/page/1">
            <i aria-hidden="true" class="las fa-fw la-bezier-curve"></i>
            Vector graphics
          </a>
        </div>
      </div>
      <div class="image-area">
        <img
          src="/assets/images/insights/editor.svg"
          alt="digital art application"
          width="320"
        />
      </div>
    </div>
  </article>
</div>

<jblog-image-container
  albumName="photography"
  [imageCount]="4"
></jblog-image-container>

<div class="container">
  <article class="post base-card">
    <header class="header-area"><h1>On photography</h1></header>
    <div class="grid">
      <div class="text-area">
        <p>
          A lot of my photography is the correct mix of luck, lighting and
          determination. While I have a decent camera with a pretty bulky set of
          interchangeable lenses, I’ve always maintained that a good
          photographer can make any camera take an interesting photo.
        </p>
        <p>
          When I started off working with photos, I worked with film. Obviously,
          this meant that I could only take a set number of photos before I had
          to pay for a new reel of film, but this has served as a great lesson
          on being efficient with photos I take.
        </p>

        <div class="button-container">
          <a class="primary" routerLink="/art/album/photography/page/1">
            <i aria-hidden="true" class="las fa-fw la-camera-retro"></i>
            Photography
          </a>
        </div>
      </div>
      <div class="image-area">
        <img
          src="/assets/images/insights/camera.svg"
          alt="camera"
          width="320"
        />
      </div>
    </div>
  </article>
</div>
