$color-palette1: #000505;
$color-palette2: #3B3454;
$color-palette3: #5D5E80;
$color-palette4: #BFCDDF;
$color-palette5: #FEFCFD;

$color-backdrop: $color-palette5;
$color-backdrop-recessed: #F2F2F2;

$color-selection: #FFF2A8;
$color-link: #4D698E;

$default-linear-gradient: $color-palette3 linear-gradient(180deg, $color-palette3, $color-palette2);
$grey-linear-gradient: $color-palette5 linear-gradient(180deg, $color-palette5, $color-backdrop);
