<div class="panel" *ngIf="!posts || posts.length === 0">
  <div class="container">
    Loading…
  </div>
</div>
<div class="contain-content align-center"
     *ngIf="totalPages > 1">
  <jblog-pagination [urlComponents]="['journal']"
                    [currentPage]="page"
                    [totalPages]="totalPages"></jblog-pagination>
</div>
<div *ngFor="let post of posts; let i = index">
  <div class="panel">
    <jblog-post [data]="post"></jblog-post>
  </div>
  <div class="container" *ngIf="i < posts.length - 1">
    <hr />
  </div>
</div>
<div class="contain-content align-center"
     *ngIf="totalPages > 1">
  <jblog-pagination [urlComponents]="['journal']"
                    [currentPage]="page"
                    [totalPages]="totalPages"></jblog-pagination>
</div>
