<div class="container">
  <div *ngIf="tag" id="tag-info" class="breadcrumbs">
    Viewing posts tagged
    <a class="clear-tag" routerLink="/journal" title="Remove tag filter">
      <span data-tag>{{ tag }}</span>
      <i class="fad fa-xs fa-fw fa-times close-icon" aria-hidden="true"></i>
      <span class="sr-only">Remove tag filter</span>
    </a>
  </div>

  <ng-container *ngIf="postData$ | async as postData; else journalLoadState">
    <ng-container *ngIf="postData.posts.length === 0">
      <ng-container *ngTemplateOutlet="noPosts"></ng-container>
    </ng-container>

    <jblog-post
      *ngFor="let post of postData.posts"
      [postData]="post"
      [titleLink]="'../../post/' + post.slug"
      [attr.data-post]="post.postId"
    ></jblog-post>

    <div class="text-center">
      <jblog-pagination
        [urlComponents]="calculateUrlComponents()"
        [currentPage]="postData.page"
        [totalPages]="postData.totalPages"
      ></jblog-pagination>
    </div>
  </ng-container>
</div>

<ng-template #journalLoadState>
  <div
    *ngIf="loading$ | async; else noPosts"
    class="text-center"
    data-loading-posts
  >
    <jblog-post></jblog-post>
  </div>
</ng-template>

<ng-template #noPosts>
  <div class="post" data-no-posts>
    <h2>No posts</h2>
  </div>
</ng-template>
