@import 'palette';
@import 'variables';

.nav-links {
  list-style-position: inside;
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  white-space: nowrap;

  a {
    color: inherit;
    text-decoration: none;
    display: inline-block;
    height: 100%;
  }

  li {
    display: block;
    flex-shrink: 0;
  }
}

.map-area {
  align-self: flex-end;

  a {
    padding: 0 15px;
    position: relative;
  }
}

#page-header {
  color: $color-palette4;
  background-color: transparentize($color-palette2, 0.5);
  height: $header-height;
  line-height: $header-height;
  position: fixed;
  width: 100%;
  z-index: 10;
  transition:
    height $animation-time-medium,
    line-height $animation-time-medium,
    background-color $animation-time-medium;

  a {
    border-bottom: 5px solid transparent;
    transition: border-bottom-color $animation-time-slow;

    &:hover {
      border-bottom-color: transparentize($color-palette4, 0.25);
    }

    &.selected {
      border-bottom-color: $color-palette4;
    }
  }

  ul,
  li {
    height: $header-height;
    transition: height $animation-time-medium;
  }

  &.scrolled {
    height: $header-height-scrolled;
    line-height: $header-height-scrolled;
    background-color: $color-palette2;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);

    ul,
    li {
      height: $header-height-scrolled;
    }
  }

  .page-top-navigation {
    display: flex;
    flex-flow: row wrap;
    align-items: stretch;
    justify-content: space-between;
  }
}

.home-link {
  display: inline-block;
  padding: 0 4px;

  .icon {
    $logo-width: 32px;

    height: $logo-width;
    width: $logo-width;
    vertical-align: middle;
  }
}

#page-footer {
  font-size: 14px;
  margin-bottom: 20px;
  text-align: center;
}
