@import '../theme/palette';
@import '../theme/variables';

$nav-height: 64px;
$nav-border-width: 4px;

$small-nav-height: 50px;

footer.page-footer,
#page-header {
  background-color: $color-theme-1;
  color: $color-bright-secondary;
}

footer.page-footer,
#page-header.scrolled {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
}

main {
  background-color: $color-bright-primary;
}

footer.page-footer {
  font-size: $font-size-smaller;
  padding-top: 15px;
  text-align: center;

  a {
    color: $color-bright-primary;
    text-decoration: underline;
  }

  .copyright {
    padding: 8px 0;
  }
}

#page-header {
  $header-height: 64px;
  $header-height-scrolled: 48px;

  height: $header-height;
  line-height: $header-height;
  position: fixed;
  width: 100%;
  z-index: 10;
  transition:
    height $animation-time-medium,
    line-height $animation-time-medium;

  &.scrolled {
    height: $header-height-scrolled;
    line-height: $header-height-scrolled;

    ul,
    li {
      height: $header-height-scrolled;
    }
  }

  a {
    border-bottom: 5px solid transparent;
    transition: border-bottom-color $animation-time-slow;

    &:hover {
      border-bottom-color: transparentize($color-bright-primary, 0.25);
    }

    &.selected {
      border-bottom-color: $color-bright-primary;
    }
  }

  ul,
  li {
    height: $header-height;
    transition: height $animation-time-medium;
  }

  .page-top-navigation {
    display: flex;
    flex-flow: row wrap;
    align-items: stretch;
    justify-content: space-between;
  }
}

.home-link {
  display: inline-block;
  padding: 0 4px;

  .icon {
    $logo-width: 32px;

    height: $logo-width;
    width: $logo-width;
    vertical-align: middle;
  }
}

.nav-links {
  list-style-position: inside;
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  white-space: nowrap;

  a {
    color: inherit;
    text-decoration: none;
    display: inline-block;
    height: 100%;
  }

  li {
    display: block;
    flex-shrink: 0;
  }
}

.map-area {
  align-self: flex-end;

  a {
    padding: 0 15px;
    position: relative;
  }
}

#page-content {
  padding-top: $nav-height;
}

@media (max-width: $screen-sm-max) {
  #page-header {
    a {
      border: none;
      border-radius: 10px 10px 0 0;
      padding: 0 8px;

      &.selected {
        background-color: $color-bright-primary;
        color: $color-theme-1;
      }
    }

    .home-link {
      padding: 0;
    }
  }
}

/* TODO
@media (max-width: $screen-sm-max) {
  nav.page-navigation {
    $small-nav-tab-yoffset: 4px;

    height: $small-nav-height;
    line-height: 1;

    a {
      display: inline-block;
      padding: 0 8px;
      border-radius: 2px 2px 0 0;
      height: 100%;
      line-height: inherit;

      &:hover,
      &.active {
        height: 100%;
      }

      &.active {
        background-color: $color-bright-primary;
        color: $color-theme-1;
      }
    }

    ul {
      margin-top: $small-nav-tab-yoffset;
      height: $small-nav-height - $small-nav-tab-yoffset;
      line-height: $small-nav-height - $small-nav-tab-yoffset;

      li {
        display: inline-block;
        float: none;
      }
    }

    .covered-area {
      background-color: transparent;
      height: auto;
    }

    .home-link {
      height: $small-nav-height;
      line-height: $small-nav-height;
    }
  }

  #page-content {
    padding-top: $small-nav-height;
  }
}

@media (max-width: $screen-xs-max) {
  nav.page-navigation {
    .collapse-only {
      display: inline-block;
    }
  }
}

// 360 is currently the upper width for the tabs, this will probably change
@media (max-width: 360px) {
  nav.page-navigation {
    a {
      margin-right: -0.25em;
    }

    .home-link {
      padding: 0;
    }
  }
}
*/
