<header id="page-header" jblogStickyElement>
  <div class="container">
    <nav class="page-top-navigation">
      <ul class="nav-links">
        <li>
          <a class="home-link"
            [routerLink]="['/']">
            <img class="icon" src="assets/images/logo.svg">
            <span class="hidden-xs">Jason Browne</span>
          </a>
        </li>
      </ul>
      <ul class="nav-links map-area" id="menu">
        <li><a [routerLink]="['/']"
               routerLinkActive="active"
               [routerLinkActiveOptions]="{exact: true}"><i class="fa fa-fw fa-home collapse-only"></i><span class="hidden-xs">portfolio</span></a></li>
        <li><a [routerLink]="['/about']" routerLinkActive="selected">about</a></li>
        <li><a [routerLink]="['/art']" routerLinkActive="selected">art</a></li>
        <li><a [routerLink]="['/code']" routerLinkActive="selected">code</a></li>
        <li><a [routerLink]="['/journal']" routerLinkActive="selected">posts</a></li>
      </ul>
    </nav>
  </div>
</header>
<main id="page-content">
  <router-outlet></router-outlet>
</main>
<footer id="page-footer" class="page-footer">
  <div class="container">
    Powered by <a href="//angular.io">Angular</a>. Emoji provided free by <a href="//emojione.com">Emoji One</a>.
    Full attribution can be found <a [routerLink]="['licenses']">here</a>.
  </div>
  <div class="copyright">
    <div class="container">
      &copy;2004&ndash;2017 Jason Browne
    </div>
  </div>
</footer>
