@import '_variables';

$max-sm-breakpoint: $breakpoint-sm - 1;
$max-md-breakpoint: $breakpoint-md - 1;

@media screen and (max-width: $max-sm-breakpoint) {
  .hide-when-small {
    display: none;
  }
}

@media screen and (max-width: $max-md-breakpoint) {
  #menu ul.links a {
    margin: 0;
    padding: 4px 8px;
  }
}
