<div id="tab-bar" class="top-area">
  <button class="tab" [class.selected]="isEditing" (click)="isEditing = true">
    <i class="las la-pencil-alt" aria-hidden="true"></i>
    Edit
  </button>
  <button class="tab" [class.selected]="!isEditing" (click)="isEditing = false">
    <i class="las la-eye" aria-hidden="true"></i>
    Preview
  </button>
</div>

<div id="tab-container" *ngIf="postData$ | async as postData">
  <form class="tab" [formGroup]="postForm" id="post-form" (ngSubmit)="onFormSubmit(postData)">
    <fieldset id="post-content">
      <!-- https://github.com/w3c/csswg-drafts/issues/321 -->
      <div id="grid-container">
        <input formControlName="title" type="text" name="post-title" class="title-input" placeholder="Post title"
          data-post-title required />

        <!-- Content text editor -->
        <ng-container *ngIf="isEditing">
          <textarea formControlName="content" name="post-content" class="content-input" placeholder="Post content"
            rows="10" cols="40" data-post-content required></textarea>
          <div class="hint-text character-count">
            <span class="info-block" data-post-character-count>
              {{ postForm.controls['content'].value.length }} characters
            </span>
            <span class="info-block" data-post-word-count>
              {{ calculateWordCount(postForm.controls['content'].value) }} words
            </span>
          </div>
        </ng-container>

        <!-- Content text preview -->
        <div *ngIf="!isEditing" class="scroll-pane">
          <jblog-text [text]="postForm.controls['content'].value || '*No content*'"
            data-post-content-preview></jblog-text>
        </div>
      </div>
    </fieldset>

    <fieldset id="post-options">
      <legend>Publishing options</legend>

      <div class="options-row">
        <label class="emulated-checkbox">
          <input type="checkbox" name="post-draft" data-post-draft formControlName="isDraft" />
          <i class="las la-check-circle visual checked" aria-hidden="true"></i>
          <i class="las la-circle rm-d visual unchecked" aria-hidden="true"></i>
          Save as draft
        </label>
      </div>

      <div class="options-row">
        <label for="post-slug">
          Post identifier
        </label>
        <input formControlName="slug" type="text" id="post-slug" name="post-slug" placeholder="post-identifier"
          data-post-identifier pattern="[-a-z0-9]*" title="Alphanumeric and dashes only" required />
        <div class="hint-text" [class.error]="postForm.controls['slug'].invalid">
          Alphanumeric and dashes only
        </div>
      </div>

      <div class="options-row">
        <button type="submit" data-form-submit [disabled]="!postForm.valid">Save post</button>
      </div>
    </fieldset>
  </form>
</div>