.rating-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: var(--progress-bar_color_background-empty);

  &.filled {
    background-color: var(--progress-bar_color_background-full);
  }
}
