#login-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  max-width: 800px;
  margin: 0 auto;
  overflow: hidden;
  background: var(--page_color_background);
  color: var(--page_color_foreground);
  border-radius: var(--generic_border_radius);
}

#login-form,
#side-image {
  grid-row: 1;
}

#login-form {
  grid-column: 2;
  padding: 20px;
}

#side-image {
  grid-column: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--page-footer_color_background);
  color: var(--page-footer_color_icon);
}

.top-area {
  height: 48px;
  padding: 0 8px;
  margin: 0 0 16px 0;
  line-height: 48px;
  border-bottom: 1px solid var(--color-container-border);
}

.form-row,
.error-row {
  position: relative;
  margin: 0 16px 16px;

  .accessory {
    position: absolute;
    left: 8px;
    top: 50%;
    margin-top: -8px;
  }
}

.button-container {
  text-align: center;
}

.error-row {
  color: var(--error_color);

  .error-text {
    display: block;
  }
}

.error-text,
input {
  width: 100%;
  padding: 4px 8px 4px 32px;
}
