@import 'mixins';

:host,
.gallery-card {
  display: block;
  position: relative;
  line-height: 1;
}

.load-area,
.image-area,
.text-area,
img {
  display: block;
}

img,
.load-area svg {
  width: 100%;
  height: auto;
  border-radius: calc(var(--border-radius-default) / 2);
}

.overlay {
  position: absolute;
  left: var(--thumbnail-image-padding);
  right: var(--thumbnail-image-padding);
}

.text-area {
  bottom: -100%;
  line-height: 1.5;
  padding: 8px;
  background-color: var(--color-overlay-background);
  color: var(--color-default-foreground);
  transition: bottom 0.2s;
  backdrop-filter: blur(5px);

  .title,
  .galleries {
    @include truncate-text();

    display: block;
  }

  .title {
    font-size: 18px;
  }

  .galleries {
    font-size: 12px;
  }
}

.image-area {
  top: var(--thumbnail-image-padding);
  bottom: var(--thumbnail-image-padding);
}

.load-area svg {
  fill: var(--color-default-background);
}

.gallery-card {
  overflow: hidden;
  padding: var(--thumbnail-image-padding);
  background-color: var(--color-container-background);
  border-radius: var(--border-radius-default);
  box-shadow: var(--box-shadow-default) var(--color-default-shadow);
  transition: box-shadow 0.2s;

  &:hover {
    box-shadow: var(--box-shadow-default-hover) var(--color-default-shadow);

    .text-area {
      bottom: var(--thumbnail-image-padding);
    }
  }
}
