<ng-container *ngIf="data">
  <a
    [routerLink]="['/art/view', data.id]"
    class="thumbnail"
    [class.large]="isPromoted"
    [class.horizontal]="isPromoted"
  >
    <img
      src="{{ data.thumbnail }}"
      loading="lazy"
      alt="{{ data.title }}"
      data-image
    />
    <span class="title-area">
      <span class="title-text" data-title>{{ data.title }}</span>
      <span class="subtitle-text" data-galleries>{{
        data.containingAlbums | galleryFormat
      }}</span>
    </span>
    <span *ngIf="data.featured" class="featured-badge" title="Featured">
      <svg><use xlink:href="#sitesheet-logo"></use></svg>
    </span>
  </a>
</ng-container>
