@import '../../../shared-sass/mixins';
@import '../../../shared-sass/palette';
@import '../../../shared-sass/variables';

\:host {
  display: inline-block;
  line-height: 1;
  margin: 4px;
}

a {
  display: inline-block;
  line-height: 1.9;
  overflow: hidden;
  position: relative;
  text-decoration: none;
  max-height: 200px;
  width: 300px;

  &:hover {
    .text-area {
      background-color: transparentize($color-main-foreground, 0.2);
    }
  }

  span {
    @include truncate-text();
  }

  .text-area {
    background: $color-main-foreground;
    background-color: transparentize($color-main-foreground, 0.4);
    color: $color-bright-primary;
  }
}

.image-area,
.text-area,
img {
  display: block;
}

.image-area {
  height: 200px;
}

.text-area {
  line-height: 1.5;
  padding: 8px 15px;
  text-align: left;
  transition: background-color $animation-time-medium;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;

  .galleries {
    color: $color-bright-secondary;
    display: block;
    font-size: 12px;
  }
}
