<ng-container *ngIf="postData$ | async as postData; else loadState">
  <nav class="breadcrumbs page-section">
    <a routerLink="/journal" data-back-button>All posts</a>
    <span class="spacer"
      ><i class="las la-angle-double-right" aria-hidden="true"></i
    ></span>
    <span data-title>{{ postData.title }}</span>
  </nav>

  <jblog-post
    [postData]="postData"
    [attr.data-post]="postData.postId"
  ></jblog-post>
</ng-container>

<ng-template #loadState>
  <div *ngIf="loading$ | async; else noPosts" data-loading-posts>
    <nav class="breadcrumbs page-section">
      <a routerLink="/journal" data-back-button
        ><i class="las la-angle-double-left" aria-hidden="true"></i> Journal</a
      >
      <span class="spacer">|</span>
      <span class="tag" data-title>…</span>
    </nav>
    <jblog-post></jblog-post>
  </div>
</ng-template>

<ng-template #noPosts>
  <nav class="breadcrumbs page-section">
    <a routerLink="/journal" data-back-button
      ><i class="las la-angle-double-left" aria-hidden="true"></i> Journal</a
    >
  </nav>

  <div class="text-center" data-no-posts>
    <h1>No post here!</h1>
    <p>
      No post found with that ID. Go back to the
      <a routerLink="/journal">Journal</a> and read another!
    </p>
  </div>
</ng-template>
