@import 'variables';

$single-column-breakpoint: 450px;

.album-card {
  position: relative;
  grid-column: span 3;
  overflow: hidden;
  line-height: 1;

  .image-area img {
    width: 100%;
    height: auto;
  }

  .text-area {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    line-height: 1.5;
    padding: var(--gallery-thumbnail-overlay_padding);
    background-color: var(--gallery-thumbnail-overlay_color_background);
    color: var(--gallery-thumbnail-overlay_color_foreground);
    text-decoration: none;
  }
}

@media screen and (max-width: $single-column-breakpoint) {
  .album-card {
    grid-column: span 12;
  }
}

@media screen and (min-width: ($single-column-breakpoint + 1)) and (max-width: $breakpoint-md) {
  .album-card {
    grid-column: span 6;
  }
}

@media screen and (min-width: ($breakpoint-md + 1)) and (max-width: $breakpoint-lg) {
  .album-card {
    grid-column: span 4;
  }
}
