:host {
  --splash-height: 4px;
  --morebutton-height: 40px;
}

.grid {
  grid-auto-rows: 320px;
}

.album-card {
  grid-column: span 3;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: stretch;
  overflow: hidden;
  border-radius: var(--border-radius-default);
  background-color: var(--color-container-background);
  box-shadow: var(--box-shadow-default) var(--color-default-shadow);
  text-decoration: none;
  transition: box-shadow 0.2s, top 0.2s;

  &:hover {
    top: -0.5px;
    box-shadow: var(--box-shadow-default-hover) var(--color-default-shadow);
  }
}

.colour-area {
  height: var(--splash-height);
  overflow: hidden;
  background-color: var(--color-page-flair);
}

h2 {
  margin: 0;
  padding: 0;
}

.content {
  height: calc(100% - var(--morebutton-height) - var(--splash-height));
  padding: 8px 16px;
  overflow: hidden;
  color: var(--color-default-foreground);
}

.info {
  color: var(--color-secondary-foreground);
  margin: 8px 0;
}

.more {
  height: var(--morebutton-height);
  padding: 8px 16px;
  text-align: center;
  background-color: var(--color-default-background);
}
