<!-- Loading state -->
<ng-container
  *ngIf="
    isLoadingAlbums && (!albums || albums.length === 0);
    else loadedAlbumData
  "
>
  <!-- Hero -->
  <section id="page-hero" class="page-section small-hero">
    <div class="container">
      <h1>Loading…</h1>
    </div>
  </section>

  <!-- Loading effects -->
  <section class="page-section">
    <div class="container">
      <div id="albums-container" class="grid">
        <ng-container *ngFor="let loader of [].constructor(4)">
          <ng-container *ngTemplateOutlet="loadingAlbumCard"></ng-container>
        </ng-container>
      </div>
    </div>
  </section>
</ng-container>

<!-- Loaded state -->
<ng-template #loadedAlbumData>
  <!-- Hero -->
  <section id="page-hero" class="page-section small-hero">
    <div class="container">
      <h1>All albums</h1>
    </div>
  </section>

  <!-- Album list -->
  <section class="page-section">
    <div class="container">
      <div id="albums-container" class="grid">
        <ng-container *ngFor="let album of albums">
          <ng-container
            *ngTemplateOutlet="albumCard; context: { album }"
          ></ng-container>
        </ng-container>
      </div>
    </div>
  </section>
</ng-template>

<!-- Album card -->
<ng-template #albumCard let-album="album">
  <a class="album-card" [routerLink]="['/art/album', album.name, 'page', 1]">
    <div class="image-area">
      <img src="{{ album.iconUrl }}" alt="icon" class="preview" />
    </div>
    <div class="text-area">
      <h2>{{ album.title }}</h2>
      <div class="badge-area">
        {{ album.imagesInAlbum }}
        <ng-container [ngPlural]="album.imagesInAlbum">
          <ng-template ngPluralCase="=1">image</ng-template>
          <ng-template ngPluralCase="other">images</ng-template>
        </ng-container>
      </div>
    </div>
  </a>
</ng-template>

<!-- Loader album card -->
<ng-template #loadingAlbumCard>
  <span class="album-card skeleton-loader-background"></span>
</ng-template>
