<section class="page-section">
  <div class="container">
    <!-- Loading area -->
    <div
      *ngIf="isLoadingImages && (!images || images.length === 0)"
      class="grid-list"
    >
      <ng-container *ngFor="let loader of imagePlaceholders">
        <ng-container *ngTemplateOutlet="ghostThumbnail"></ng-container>
      </ng-container>
    </div>

    <!-- Loading failed -->
    <div *ngIf="!isLoadingImages && loadingFailed">
      <h1>
        <i class="las la-frown" aria-hidden="true"></i>
        Nothing found
      </h1>
    </div>

    <!-- Images -->
    <div id="gallery-container" class="grid-list">
      <jblog-thumbnail
        *ngFor="let image of images; index as idx"
        [data]="image"
        [isPromoted]="promotedImageIndex == idx"
      ></jblog-thumbnail>
    </div>
  </div>
</section>

<ng-template #ghostThumbnail>
  <div class="skeleton-loader-background"></div>
</ng-template>
