<div class="container">
  <div class="horizontal-feature align-center"
       *ngIf="isLoadingImages && (!images || images.length == 0)">
    <jblog-load-spinner></jblog-load-spinner>
    <h1>Hang tight!</h1>
    <p>Loading…</p>
  </div>

  <div class="post loading-area"
       *ngIf="!isLoadingImages && loadingFailed">
    <i class="fa fa-frown-o fa-fw" aria-hidden="true"></i> Nothing found
  </div>

  <div class="gallery-container grid">
    <jblog-thumbnail *ngFor="let image of images"
                     [data]="image"></jblog-thumbnail>
  </div>
</div>
