<div id="search-area">
  <input
    [(ngModel)]="searchTerm"
    name="filter-colours"
    type="text"
    placeholder="Filter by name"
  />
  <div class="accessory">
    <i class="fad fa-fw fa-filter" aria-hidden="true"></i>
  </div>
</div>

<div *ngIf="cssProperties" class="grid">
  <table *ngFor="let type of colorTypes" class="base-card">
    <caption>
      {{ type }}
    </caption>
    <thead>
      <tr>
        <th>Variable name</th>
        <th>Preview</th>
      </tr>
    </thead>
    <tbody *ngIf="getPropertiesForType(type) as props">
      <tr *ngFor="let p of props">
        <td>{{ p.name }}</td>
        <td>
          <div class="preview" [ngStyle]="{ background: p.value }"></div>
        </td>
      </tr>
      <tr *ngIf="props.length === 0">
        <td>No colours</td>
        <td><div class="preview">😢</div></td>
      </tr>
    </tbody>
  </table>
</div>
