:host {
  position: relative;
}

#modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: radial-gradient(
    ellipse at right top,
    transparent,
    rgba(0, 0, 0, 0.75)
  );
}

#menu-toggle {
  margin: 0;
  padding: 4px;
  border: none;
  color: var(--color-navigation-links-foreground);
  background-color: var(--color-navigation-links-background);
  border-radius: var(--border-radius-default);
  outline: none;
  transition: color 0.2s, background-color 0.2s;
  cursor: pointer;

  &:hover,
  &.down {
    color: var(--color-navigation-links-hover-foreground);
    background-color: var(--color-navigation-links-hover-background);
    text-shadow: 0 1px 1px var(--color-default-shadow);
  }
}

#user-menu {
  position: absolute;
  right: 0;
  top: 25px;
  width: 320px;
  background: var(--color-container-background);
  box-shadow: var(--box-shadow-default-hover) var(--color-default-shadow);
  border-radius: var(--border-radius-default);
  text-align: left;

  &::before,
  &::after {
    content: '';
    display: block;
    position: absolute;
    right: 6px;
    border: 5px solid transparent;
  }

  &::before {
    top: -11px;
    border-bottom-color: var(--color-container-border);
  }

  &::after {
    top: -10px;
    border-bottom-color: var(--color-page-flair);
  }

  .inner-container {
    border-top: 4px solid var(--color-page-flair);
    padding: 5px;
    border-radius: var(--border-radius-default);
  }
}

@media screen and (max-width: 320px) {
  #user-menu {
    position: fixed;
    top: var(--height-page-header);
    left: 0;
    width: auto;
  }
}
