$wrapper-horizontal-padding: 15px

$large-container-width: 1170px

$font-size-smallest: 10px
$font-size-smaller: 14px
$font-size-default: 18px
$font-size-larger: 24px
$font-size-largest: 28px

$font-size-main-heading: 44px

$animation-time-fast: 100ms
$animation-time-medium: 250ms
$animation-time-slow: 300ms

// Screen sizes
$screen-sm-min:       768px
$screen-md-min:       992px
$screen-lg-min:      1200px

$screen-xs-max:       ($screen-sm-min - 1)
$screen-sm-max:       ($screen-md-min - 1)
$screen-md-max:       ($screen-lg-min - 1)

$grid-columns:        12
$grid-gutter-width:   30px

$container-sm:        (720px + $grid-gutter-width)
$container-md:        (940px + $grid-gutter-width)
$container-lg:       (1140px + $grid-gutter-width)
