<nav class="pagination">
  <ul role="navigation">
    <li>
      <a routerLink="/art">
        <i class="fa fa-fw fa-arrow-up" aria-hidden='true'></i> Back to gallery
      </a>
    </li>
  </ul>
</nav>
<!-- ===== -->
<div class="portfolio coloured-section">
  <div class="wrapper content-container">
    <div class="content-illustration">
      <div>
        <img src="/public/images/site/overview-art.svg?2016" alt="an artwork" width="320"/>
      </div>
    </div>
    <div class="content-area">
      <h2>Art insights</h2>
      <p class="large-text">A glimpse behind my creative process</p>
      <p>
        Visual art is core to who I am, and you’ll almost always find a me
        accompanied by a sketchpad of sorts which I’ll use to scribble on during
        downtime. I’m also the type of person who rarely leaves the house
        without a camera, because sometimes the best photographs are the more
        spontaneous ones.
      </p>
    </div>
  </div>
</div>
<div class="portfolio coloured-section">
  <div class="wrapper content-container">
    <div class="content-illustration">
      <div>
        <img src="/public/images/site/art.jpg?2014" alt="Vector graphic initials" />
      </div>
    </div>
    <div class="content-area">
      <h2>Manifesto</h2>
      <p>
        There are four main goals I try to adhere to when I have my artist’s hat on:
      </p>
      <ul>
        <li><strong>Venture into the unknown.</strong> Never be afraid to experiment. Push the bounds of every toolset.</li>
        <li><strong>Challenge myself.</strong> Always improve upon previous works.</li>
        <li><strong>Contribute back.</strong> Create art not only for myself, but for the community as well.</li>
        <li><strong>Learn from others.</strong> Critique and provide constructive criticism that promotes growth.</li>
      </ul>
    </div>
  </div>
</div>
<div class="portfolio coloured-section">
  <div class="wrapper content-container">
    <div class="content-illustration">
      <div>
        <img src="/public/images/site/art.svg?2016" alt="A stylized image of Inkscape" width="320"/>
      </div>
    </div>
    <div class="content-area">
      <h2 class="large-text">On vector graphics</h2>
      <p>
        I create the bulk of my vector graphics using Inkscape. While I’ve used
        other vector editors in the past, I find myself returning to Inkscape as
        it works on all of my devices with minimum effort&mdash;for example, if
        I switch from my MacBook to one of the Linux or Windows devices I own, I
        don’t need to context switch or learn a completely new program.
      </p>
      <p>
        I regularly find I need to set up a stable “working environment” before
        I can produce a work of any merit, and this usually comprises of a
        comfortable location with a drink&mdash;I have been known to disappear
        off to coffee shops when working on more complicated pieces.
      </p>
      <p>
        My vector graphics can go from ultra-realistic to completely whimsical
        and absurd. For my personal images, the end result is usually dependent
        upon mood; for professional works I will stick to the description while
        adding my own personal touches where possible. If I’m ever unhappy with
        the way something is turning out, you’ll often see me drag what I’ve
        done off the side of the page and start again, using the previous
        attempt as a reference.
      </p>
      <h3>Related posts</h3>
      <ul>
        <li><a class="uncoverable theme-1" routerLink="/journal/post/289">Lines<i class="fa fa-chevron-right"></i></a> - originally posted on 27 August 2016</li>
        <li><a class="uncoverable theme-1" routerLink="/journal/post/283">Upping the realism<i class="fa fa-chevron-right"></i></a> - originally posted on 3 May 2016</li>
      </ul>
      <p>The following two posts are more focussed on characters, however some of the content is still relevant.</p>
      <ul>
        <li><a class="uncoverable theme-1" routerLink="/journal/post/278">Mélodie<i class="fa fa-chevron-right"></i></a> - originally posted on 12 February 2016</li>
        <li><a class="uncoverable theme-1" routerLink="/journal/post/273">Reintroducing Paige<i class="fa fa-chevron-right"></i></a> - originally posted on 15 October 2015</li>
      </ul>
      <p>The following posts are ancient and most likely do not reflect my current way of thinking.</p>
      <ul>
        <li><a class="uncoverable theme-1" routerLink="/journal/post/154">Artistic epiphany<i class="fa fa-chevron-right"></i></a> - originally posted on 22 January 2012</li>
        <li><a class="uncoverable theme-1" routerLink="/journal/post/145">That comic thing…<i class="fa fa-chevron-right"></i></a> - originally posted on 12 October 2010</li>
      </ul>
    </div>
  </div>
</div>
<div class="portfolio coloured-section">
  <div class="wrapper content-container">
    <div class="content-illustration">
      <div>
        <img src="/public/images/site/camera.svg?2016" alt="A stylized image of a camera" width="320"/>
      </div>
    </div>
    <div class="content-area">
      <h2 class="large-text">On photography</h2>
      <p>
        A lot of my photography is the correct mix of luck, lighting and
        determination. While I have a decent camera with a pretty bulky set of
        interchangeable lenses, I’ve always maintained that a good photographer
        can make any camera take an interesting photo.
      </p>
      <p>
        My primary camera is a Canon EOS 650D, however I also own a SONY RX-100
        point-and-shoot camera, and a Microsoft Lumia 950 phone with a 22
        megapixel Carl Zeiss optics lens. Each one has its own set of
        characteristics, and I’ve found that I’ve been able to consistently take
        photos of similar quality on each of them.
      </p>
      <p>
        When I started off working with photos, I worked with film. Obviously,
        this meant that I could only take a set number of photos before I had to
        pay for a new reel of film, but this has served as a great lesson on
        being efficient with photos I take. I learnt the value of knowing how a
        camera works before pressing the shutter release button, on how to get
        into the right positions to get the best lighting and how to essentially
        “manufacture” luck, or at least good conditions and circumstances to
        take a photo. I’ve never had the pleasure of being able to work in
        studio conditions; however I feel that this has helped rather than
        hindered me.
      </p>
      <h3>Related posts</h3>
      <p>These posts are quite old, however the content is still somewhat relevant.</p>
      <ul>
        <li><a class="uncoverable theme-4" href="/journal/post/207">Behind the scenes<i class="fa fa-chevron-right"></i></a> - originally posted on 23 September 2013</li>
        <li><a class="uncoverable theme-4" href="/journal/post/193">The journey of a photographer<i class="fa fa-chevron-right"></i></a> - originally posted on 29 March 2013</li>
        <li><a class="uncoverable theme-4" href="/journal/post/165">Composition 101<i class="fa fa-chevron-right"></i></a> - originally posted on 19 August 2012</li>
      </ul>
    </div>
  </div>
</div>
<div class="portfolio coloured-section">
  <div class="wrapper content-container">
    <div class="content-illustration">
      <div>
        <img src="/public/images/journal/gscshare1.jpg" alt="My works on Social Media"/>
      </div>
    </div>
    <div class="content-area">
      <h2 class="large-text">But what makes an artwork <em>good</em>?</h2>
      <p>
        The perception of whether a work is “good” or not depends on both the
        context and the viewer. For instance, a fine art painting may appear
        perfect framed upon a wall, but would probably look completely out of
        place when added into a marketing website about food. I will always
        attempt to create pieces that are both appealing and relevant in their
        intended context.
      </p>
      <p>
        Catching the eye of a viewer is a much more complicated task. Knowing
        your audience is the keystone of a successful artwork. I’m always ready
        to engage with a community, find out their preferences and test the
        waters if required.
      </p>
    </div>
  </div>
</div>
