.name-area {
  margin-bottom: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.text {
  margin-right: 1em;
}

.mugshot {
  margin-left: 1em;
  padding: 2px;
  border-radius: 50%;
  box-shadow: 0 4px 4px var(--color-default-shadow);
  background-color: var(--color-container-background);
}

.content-area {
  .column {
    grid-column: span 4;
  }
}

.personal-area {
  .column {
    grid-column: 3 / span 8;
  }
}

.experience {
  margin-bottom: 16px;

  .role {
    font-weight: bold;
  }

  .timespan {
    color: var(--color-secondary-foreground);
  }
}
