:host {
  --avatar-dimension: 200px;
  --avatar-border-width: 2px;
}

.name-area {
  height: calc(var(--avatar-dimension) + 2 * var(--avatar-border-width));
  margin-bottom: 24px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  position: relative;

  &::before {
    display: block;
    content: '';
    position: absolute;
    /* stylelint-disable length-zero-no-unit */
    top: calc(0px - var(--height-margin-page-header));
    /* stylelint-enable */
    left: 0;
    right: 0;
    height: calc(var(--height-margin-page-header) + var(--avatar-dimension) / 2);
    z-index: -1;
    background: var(--color-primary-a-10) linear-gradient(to bottom, var(--color-primary-a-10), var(--color-primary-a-07));
    pointer-events: none;
  }

  h1 {
    margin-bottom: 16px;
    padding: 0;
  }
}

.text {
  margin-right: 1em;
}

.mugshot {
  box-sizing: content-box; // Don’t scale the image for the border
  width: var(--avatar-dimension);
  height: var(--avatar-dimension);
  margin-left: 1em;
  border: var(--avatar-border-width) solid var(--color-container-background);
  border-radius: 50%;
  box-shadow: 0 4px 4px var(--color-default-shadow);
}

.content-area {
  .column {
    grid-column: span 4;
  }
}

.personal-area {
  .column {
    grid-column: 3 / span 8;
  }
}

.experience {
  margin-bottom: 16px;

  .role {
    font-weight: bold;
  }

  .timespan {
    color: var(--color-secondary-foreground);
  }
}
