<div class="name-area">
  <div class="text text-center">
    <h1>About</h1>
    <div class="name">Jason Browne</div>
  </div>
  <img class="mugshot" src="/assets/images/about/jason2019.jpg" />
</div>

<div class="content-area container">
  <div class="grid">
    <article class="column experience">
      <h2>Work Experience</h2>

      <section class="experience">
        <div class="role">Front end developer & Visual Designer</div>
        <div class="company">Schlumberger Oilfield UK Plc.</div>
        <div class="timespan">2018–present</div>
      </section>

      <section class="experience">
        <div class="role">Web application developer</div>
        <div class="company">Schlumberger Oilfield UK Plc.</div>
        <div class="timespan">2016–2018</div>
      </section>

      <section class="experience">
        <div class="role">Desktop application developer</div>
        <div class="company">Schlumberger Oilfield UK Plc.</div>
        <div class="timespan">2013–2016</div>
      </section>

      <section class="experience">
        <div class="role">Shared C++ library development</div>
        <div class="company">Schlumberger Oilfield UK Plc.</div>
        <div class="timespan">2012–2013</div>
      </section>
    </article>

    <div class="column education">
      <h2>Education</h2>

      <section class="experience">
        <div class="role">BSc (Hons) Computer Science</div>
        <div class="company">Nottingham Trent University.</div>
        <div class="timespan">2009–2012</div>
      </section>

      <h2>Contact</h2>
      <ul class="contacts-list">
        <li>
          <a href="//github.com/jbrowneuk">
            <i class="fab fa-github circular"></i>
            <span>github.com/jbrowneuk</span>
          </a>
        </li>

        <li>
          <a href="//twitter.com/jbrowneuk">
            <i class="fab fa-twitter circular"></i>
            <span>twitter.com/jbrowneuk</span>
          </a>
        </li>

        <li>
          <a href="//linkedin.com/in/jbrowneuk">
            <i class="fab fa-linkedin-in circular"></i>
            <span>linkedin.com/in/jbrowneuk</span>
          </a>
        </li>

        <li>
          <a href="//twitch.tv/jbrowneuk">
            <i class="fab fa-twitch circular"></i>
            <span>twitch.tv/jbrowneuk</span>
          </a>
        </li>

        <li>
          <a href="//discord.gg/vH4zaDT">
            <i class="fab fa-discord circular"></i>
            <span>discord.gg/vH4zaDT</span>
          </a>
        </li>
      </ul>
    </div>

    <div class="column skills">
      <h2>Skills</h2>

      <h3>Code</h3>
      <section class="experience-charts">
        <span class="label">Angular 2+</span>
        <ng-container *ngTemplateOutlet="valueBar; context: { amount: 7 }">
        </ng-container>

        <span class="label">ReactJS</span>
        <ng-container *ngTemplateOutlet="valueBar; context: { amount: 5 }">
        </ng-container>

        <span class="label">HTML</span>
        <ng-container *ngTemplateOutlet="valueBar; context: { amount: 9 }">
        </ng-container>

        <span class="label">CSS</span>
        <ng-container *ngTemplateOutlet="valueBar; context: { amount: 9 }">
        </ng-container>

        <span class="label">JavaScript</span>
        <ng-container *ngTemplateOutlet="valueBar; context: { amount: 7 }">
        </ng-container>

        <span class="label">PHP</span>
        <ng-container *ngTemplateOutlet="valueBar; context: { amount: 7 }">
        </ng-container>
      </section>

      <h3>Vector Graphics</h3>
      <section class="experience-charts">
        <span class="label">Inkscape</span>
        <ng-container *ngTemplateOutlet="valueBar; context: { amount: 9 }">
        </ng-container>

        <span class="label">Affinity Designer</span>
        <ng-container *ngTemplateOutlet="valueBar; context: { amount: 7 }">
        </ng-container>
      </section>

      <h3>Design</h3>
      <section class="experience-charts">
        <span class="label">Sketch</span>
        <ng-container *ngTemplateOutlet="valueBar; context: { amount: 7 }">
        </ng-container>

        <span class="label">Figma</span>
        <ng-container *ngTemplateOutlet="valueBar; context: { amount: 5 }">
        </ng-container>

        <span class="label">Adobe Xd</span>
        <ng-container *ngTemplateOutlet="valueBar; context: { amount: 6 }">
        </ng-container>
      </section>
    </div>
  </div>
</div>

<ng-template #valueBar let-amount="amount">
  <span class="value amount-{{ amount }}">
    <span class="dot"></span> <span class="dot"></span>
    <span class="dot"></span> <span class="dot"></span>
    <span class="dot"></span> <span class="dot"></span>
    <span class="dot"></span> <span class="dot"></span>
    <span class="dot"></span> <span class="dot"></span>
  </span>
</ng-template>

<article class="personal-area base-card container">
  <div class="grid">
    <header>
      <h1>Creative at heart–and <strong>not</strong> afraid to express it</h1>
    </header>
    <div class="content-area">
      <p>
        I’m a front-end developer, working on web and desktop apps in
        post-brexit UK. I specialise in HTML, CSS and JavaScript for the web,
        and a variety of different programming languages and interface
        frameworks for desktop and mobile.
      </p>
      <p>
        When I’m not lost in a screenful of code, you’ll probably find me
        drawing, taking photos, reading up on things or tinkering with creating
        objects I’ve created using my 3D printer.
      </p>
      <p>
        Creating usable software which is a delight to use is no easy task, and
        I am constantly learning new things to keep up with the industry. I aim
        to produce software which
        <strong>puts the user first and in direct control</strong>, whilst still
        being <strong>powerful and feature rich</strong>.
      </p>
    </div>
  </div>
</article>
