<div class="panel bordered">
  <div class="container">
    <h1>About me</h1>
    <p>Hello there! Nice to meet you!</p>
    <p>
      I’m a front-end developer, working on web and desktop apps in post-brexit UK.
      I specialise in HTML, CSS and JavaScript for the web, and a variety of different
      programming languages and interface frameworks for desktop and mobile.
    </p>
    <p>
      When I’m not lost in a screenful of code, you’ll probably find me
      <a class="uncoverable" [routerLink]="['/art/album/vector']"><i class="fa fa-pencil" aria-hidden="true"></i>drawing</a>,
      <a class="uncoverable" [routerLink]="['/art/album/photography']"><i class="fa fa-camera" aria-hidden="true"></i>taking photos</a>,
      <a class="uncoverable" [routerLink]="['/code/lab']"><i class="fa fa-flask" aria-hidden="true"></i>reading up</a>
      on things or amassing the world’s largest collection of
      <a class="uncoverable" [routerLink]="['/art/album/figures']"><i class="fa fa-heart" aria-hidden="true"></i>small, cute plastic figures</a>.
    </p>
    <p>Didn’t expect the last one, did you?</p>
  </div>
</div>
<div class="container">
  <hr />
</div>
<div class="panel bordered">
  <div class="container">
    <h2>Early life</h2>
    <div class="row">
      <div class="col-md-8">
        <p>
          I started building websites and small games as a hobby when I was back
          in senior school back in the late 2000s, and this ignited my passion for
          exploring the limits of what computers could do&mdash;leading me into
          some interesting situations during my studies. However, due to a lack of
          expertise in my school for teaching programming, my pursuits in the
          field were limited to self-study and extracurricular activities.
        </p>
        <p>
          Asides from tinkering with programming at school, I also nurtured my
          creative side. I have always had a dominant creative flair, and my
          grades in artistic studies during school reflected that. I’ve got a
          whole history of sketchbooks and scribbles in a box at home&mdash;some
          of them were produced as classwork, the rest being paper pads and
          notebooks I purchased myself for the sole purpose of letting my
          imagination run free.
        </p>
        <p>
          My parents helped me nurture my artistic talents by regularly taking me
          to art museums and festivals. Additionally, due to a relocation of my
          father’s job to Singapore during my late teen years, I was exposed to
          Asian art and culture&mdash;something I relished and immersed myself in
          fully. It was in Singapore I started my character art works as a way of
          exploring Inkscape, a new tool I’d found.
        </p>
      </div>
      <div class="col-md-4 align-center hidden-sm hidden-xs">
        <img src="/assets/images/overview-art.svg" alt="pencils" class="side-illustration" width="320" />
      </div>
    </div>
  </div>
</div>
<div class="container">
  <hr />
</div>
<div class="panel bordered">
  <div class="container">
    <h2>University studies</h2>
    <div class="row">
      <div class="col-md-8">
        <p>
          I enrolled in Nottingham Trent University to study Computer Science in
          2008, after some encouragement from my teachers. Here I managed to focus
          my programming skill set and pick up knowledge of C++, Java and C#, as
          well as the processes around software development. Additionally, I took
          part in a couple of programming competitions with my friends&mdash;the
          most notable being the Microsoft X48 GameCamp Birmingham in 2010, where
          my team placed second with the game “Nom”.
        </p>
        <p>
          Thanks to the help of the university, I managed to land an internship
          position at Schlumberger Oilfield Plc. in Abingdon, UK. While there, I
          built upon my programming knowledge and was introduced to the world of
          business applications.
        </p>
        <p>
          My primary internship project was to build a mobile application which
          allowed users to view real-time data from a drilling rig. During this
          project, I found that my artistic skill set came in very useful for
          designing a user interface that was well adapted for the smaller screens
          of smartphones. I also learnt Objective C to build the application on
          Apple iOS devices.
        </p>
        <p>
          After getting my degree, the company hired me to build UI applications
          based upon the strengths I’d shown during the internship. My first
          project there was to help shape the design of an existing application,
          which I modernised while carefully considering the needs of the end
          users. I brought a consistent experience to the application, which was
          well received.
        </p>
      </div>
      <div class="col-md-4 align-center hidden-sm hidden-xs">
        <img src="/assets/images/overview-programming.svg" alt="computer screen" class="side-illustration" width="320" />
      </div>
    </div>
  </div>
</div>
<div class="container">
  <hr />
</div>
<div class="panel">
  <div class="container">
    <h2>Moving forwards</h2>
    <div class="row">
      <div class="col-md-8">
        <p>
          I’ve been improving my UI and UX skill set since, and at the beginning of
          2016 I moved to the web application development team, where I currently
          work as a UI developer. Additionally, I help with the user experience
          design through techniques such as end user interviews, wireframe mockups
          and prototyping.
        </p>
        <p>
          Creating usable software which is a delight to use is no easy task, and
          I am constantly learning new things to keep up with the industry. I aim
          to produce software which <strong>puts the user first</strong> and
          <strong>in direct control</strong>, whilst still being
          <strong>powerful and feature rich.</strong>
        </p>
      </div>
      <div class="col-md-4 align-center hidden-sm hidden-xs">
        <img src="/assets/images/overview-research.svg" alt="computer screen" class="side-illustration" width="320" />
      </div>
    </div>
  </div>
</div>
