<div class="name-area">
  <div class="text text-center">
    <h1>About</h1>
    <div class="name">Jason Browne</div>
  </div>
  <img class="mugshot" src="/assets/images/about/jason2019.jpg" />
</div>

<div class="content-area container">
  <div class="grid">
    <article class="column">
      <h2>Work Experience</h2>

      <section class="experience">
        <div class="role">Front end developer & Visual Designer</div>
        <div class="company">Schlumberger Oilfield UK Plc.</div>
        <div class="timespan">2018–present</div>
      </section>

      <section class="experience">
        <div class="role">Web application developer</div>
        <div class="company">Schlumberger Oilfield UK Plc.</div>
        <div class="timespan">2016–2018</div>
      </section>

      <section class="experience">
        <div class="role">Desktop application developer</div>
        <div class="company">Schlumberger Oilfield UK Plc.</div>
        <div class="timespan">2013–2016</div>
      </section>

      <section class="experience">
        <div class="role">Shared C++ library development</div>
        <div class="company">Schlumberger Oilfield UK Plc.</div>
        <div class="timespan">2012–2013</div>
      </section>
    </article>
    <div class="column">
      <h2>Education</h2>

      <section class="experience">
        <div class="role">BSc (Hons) Computer Science</div>
        <div class="company">Nottingham Trent University.</div>
        <div class="timespan">2009–2012</div>
      </section>
    </div>
    <div class="column"><h2>Skills &amp; Expertise</h2></div>
  </div>
</div>

<div class="personal-area container">
  <div class="grid">
    <div class="column">
      <h1>Creative at heart–and <strong>not</strong> afraid to express it</h1>
      <p>
        I’m a front-end developer, working on web and desktop apps in
        post-brexit UK. I specialise in HTML, CSS and JavaScript for the web,
        and a variety of different programming languages and interface
        frameworks for desktop and mobile.
      </p>
      <p>
        When I’m not lost in a screenful of code, you’ll probably find me
        drawing, taking photos, reading up on things or tinkering with creating
        objects I’ve created using my 3D printer.
      </p>
      <p>
        Creating usable software which is a delight to use is no easy task, and
        I am constantly learning new things to keep up with the industry. I aim
        to produce software which
        <strong>puts the user first and in direct control</strong>, whilst still
        being <strong>powerful and feature rich</strong>.
      </p>
    </div>
  </div>
</div>
