<nav class="pagination">
  <ul role="navigation">
    <li>
      <a routerLink="/calendar">
        <i class="fa fa-fw fa-calendar" aria-hidden="true"></i>
        Back to calendar
      </a>
    </li>
  </ul>
</nav>
<div id="gallery-presenter" *ngIf="hasImageData()">
  <img class="card" src="{{getImagePath()}}" alt="image" />
</div>
<div class="post" *ngIf="!hasImageData()">
  <article class="wrapper">
    <h2>There's no image for this month.</h2>
    <p>That means it hasn't been completed or wasn't completed on time.</p>
  </article>
</div>
