<div class="portfolio coloured-section">
  <div class="wrapper content-container">
    <div class="content-illustration">
      <div>
        <img class="photo-circle" src="/public/images/site/jasonWeb.jpg?2016" alt="Photo of me" width="320"/>
      </div>
    </div>
    <div class="content-area">
      <h2>Nice to meet you</h2>
      <p class="large-text">Hi. I’m Jason. I’m a <strong>computer guy</strong>.</p>
      <p>
        I’m a front-end developer, specializing in HTML, CSS and JavaScript for the web, and a variety of different programming languages and interface frameworks for desktop and mobile.
        When I’m not lost in a screenful of code, you’ll probably find me
        <a class="uncoverable theme-1" routerLink="/art/album/vector">drawing<i class="fa fa-pencil"></i></a>,
        <a class="uncoverable theme-2" routerLink="/art/album/photography">taking photos<i class="fa fa-camera"></i></a>,
        <a class="uncoverable theme-4" routerLink="/lab">reading up<i class="fa fa-flask"></i></a>
        on things or amassing the world’s largest collection of
        <a class="uncoverable theme-5" routerLink="/art/album/figures">small, cute plastic figures<i class="fa fa-heart"></i></a>.
      </p>
      <p>Didn’t expect the last one, did you?</p>
    </div>
  </div>
</div>
<!-- Art stuff-->
<div class="portfolio coloured-section">
  <div class="wrapper content-container">
    <div class="content-illustration">
      <div>
        <img src="/public/images/site/art.svg?2016" alt="Stylised vector graphic" width="320"/>
      </div>
    </div>
    <div class="content-area">
      <h2>Art</h2>
      <p class="large-text">Creative at heart</p>
      <p>
        For some people, creating an artwork is a piece of cake. For others,
        it’s a creative challenge. For me, it’s both of these and much, much
        more. Being artistic is so ingrained in me that it makes up part of who
        I am, and I try and contribute my skills to every project I am part of.
      </p>
      <div class="button-area">
        <a class="primary" routerLink="/art/">Gallery</a>
        <a routerLink="/art/insights/">Behind the scenes</a>
      </div>
    </div>
  </div>
</div>
<div class="gallery-area lowered-area">
  <h3 class="mini-title">Latest featured works</h3>
  <div class="align-centre" *ngIf="!imageRequestComplete">
    <i class="fa fa-fw fa-spin fa-circle-o-notch"></i> Seeing what’s new…
  </div>
  <a class="card hoverable"
     *ngFor="let image of images"
     [routerLink]="['/art', 'view', image.imageId]">
    <span class="image-area"><img src="{{image.thumbnailUrl}}" alt="Thumbnail"></span>
    <span class="text-area">
      <span class="galleries">{{image.galleries}}</span>
      <span class="title">{{image.title}}</span>
    </span>
  </a>
  <a class="card hoverable"
     routerLink="/art">
    <span class="icon-area">
      <i class="fa fa-chevron-right" aria-hidden="true"></i>
    </span>
    <span class="text-area">
      <span class="galleries">Gallery</span>
      <span class="title">See more…</span>
    </span>
  </a>
</div>
<!-- Code stuff-->
<div class="portfolio coloured-section">
  <div class="wrapper content-container">
    <div class="content-illustration">
      <div>
        <img src="/public/images/site/programming.svg?2016" alt="Stylised computer screen showing code" width="320"/>
      </div>
    </div>
    <div class="content-area">
      <h2>Code</h2>
      <p class="large-text">Staying ahead of the curve</p>
      <p>
        Technology is so prevalent in our lives that it seems a wasted
        opportunity to just ignore the capabilities of the devices that people
        have easy access to. Computers, tablets, phones and games consoles are
        obvious choices, but there's untapped potential in even the most mundane
        of devices.
      </p>
      <p>
        While web and desktop are my strong points, I’m always willing to dive
        in and learn something new.
      </p>
      <div class="button-area">
        <a class="primary" routerLink="/code">Projects</a>
      </div>
    </div>
  </div>
</div>
<div class="gallery-area lowered-area">
  <h3 class="mini-title">Latest projects</h3>
  <div class="align-centre" *ngIf="!projectsRequestComplete">
    <i class="fa fa-fw fa-spin fa-circle-o-notch"></i> Seeing what’s new…
  </div>
  <a class="card hoverable"
     *ngFor="let project of projects"
     href="{{project.link}}">
    <span class="image-area"><img src="{{project.resourcesUrl}}gallery.png" alt="Thumbnail"></span>
    <span class="text-area">
      <span class="galleries">{{project.info}}</span>
      <span class="title">{{project.title}}</span>
    </span>
  </a>
  <a class="card hoverable"
     routerLink="/code">
    <span class="icon-area">
      <i class="fa fa-chevron-right" aria-hidden="true"></i>
    </span>
    <span class="text-area">
      <span class="galleries">All projects</span>
      <span class="title">See more…</span>
    </span>
  </a>
</div>
