.breadcrumbs {
  margin-bottom: 10px;
  color: var(--color-secondary-text);

  a {
    color: var(--color-navigation-links-foreground);
  }

  a:hover {
    color: var(--color-navigation-links-hover-foreground);
    text-shadow: 0 1px 1px var(--color-default-shadow);
  }

  .spacer {
    margin: 0 0.5em;
  }
}
