.button-container {
  a,
  button {
    display: inline-block;
    padding: 4px 16px;
    margin-right: 0.5em;
    transition: box-shadow 0.2s;
    border: none;
    border-radius: var(--border-radius-default);
    box-shadow: var(--box-shadow-default) var(--color-default-shadow);
    text-decoration: none;
    background: var(--color-button-secondary-background);
    color: var(--color-button-secondary-foreground);
    cursor: pointer;

    &:hover {
      box-shadow: var(--box-shadow-default-hover) var(--color-default-shadow);
      text-shadow: 0 1px 1px var(--color-default-shadow);
    }

    &:last-child {
      margin-right: 0;
    }
  }

  .primary {
    background: var(--color-button-primary-background);
    color: var(--color-button-primary-foreground);
  }
}
