input[type='text'],
input[type='password'],
input[type='number'],
textarea,
.text-input {
  border: 1px solid var(--color-input-border);
  border-radius: var(--border-radius-default);
  background-color: var(--color-input-background);
  color: var(--color-input-foreground);
  transition: border 200ms, background-color 200ms;

  &:hover {
    background: var(--color-input-background-focus);
  }

  &:not(.ng-pristine):invalid {
    border-color: var(--color-error);
  }

  &:focus {
    border-color: var(--color-input-border-focus);
    background-color: var(--color-input-background-focus);
    color: var(--color-input-foreground-focus);
  }
}
