.tags-area {
  margin: 0;
  padding: 0;

  li {
    display: inline-block;
    margin-right: 0.25em;
  }

  .tag a {
    display: block;
    min-width: 24px;
    padding: 0 16px;
    border-radius: var(--border-radius-default);
    text-decoration: none;
    color: var(--color-tag-foreground);
    border: 1px solid var(--color-tag-border);
    background: var(--color-tag-background);
    transition: color 0.2s, border-color 0.2s, background-color 0.2s;

    &:hover {
      color: var(--color-tag-hover-foreground);
      background: var(--color-tag-hover-background);
      border-color: var(--color-tag-hover-border);
    }
  }
}
