<header id="page-header">
  <div class="wrapper">
    <h1><a routerLink="/">Jason Browne</a></h1>
    <nav id="menu">
      <ul>
        <li><a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">portfolio</a></li>
        <li><a routerLink="/about/" routerLinkActive="active">about</a></li>
        <li><a routerLink="/art/" routerLinkActive="active">art</a></li>
        <li><a routerLink="/code/" routerLinkActive="active">projects</a></li>
        <li><a routerLink="/journal/" routerLinkActive="active">posts</a></li>
      </ul>
    </nav>
  </div>
</header>
<main id="page-content">
  <div style="background-color: #fcf8e3; padding: 15px;">
    <div class="wrapper">
      I'm in the process of upgrading my website. Since I do this as a hobby, it's happening <u>quite slowly</u>.
      Loads of things will be broken right now. Sorry about that!
    </div>
  </div>
  <router-outlet></router-outlet>
</main>
<div id="site-map">
  <div class="wrapper">
    <ul>
      <li><a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">portfolio</a></li>
      <li><a routerLink="/about/" routerLinkActive="active">about</a></li>
      <li><a routerLink="/art/" routerLinkActive="active">art</a></li>
      <li><a routerLink="/code/" routerLinkActive="active">projects</a></li>
      <li><a routerLink="/journal/" routerLinkActive="active">posts</a></li>
    </ul>
  </div>
</div>
